<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row" ng-show="vm.showProfile">
                <div ng-include="'/app/components/about/views/profile.html'"></div>
            </div>
            <div class="row" ng-show="vm.showHistory">
                <div ng-include="'/app/components/about/views/history.html'"></div>
            </div>
            <div class="row" ng-show="vm.showFounder">
                <div ng-include="'/app/components/about/views/founder.html'"></div>
            </div>
            <div class="row" ng-show="vm.showTestimonials">
                <div ng-include="'/app/components/about/views/testimonials.html'"></div>
            </div>
            <div class="row" ng-show="vm.showContact">
                <div ng-include="'/app/components/about/views/contact.html'"></div>
            </div>
        </div>
    </div>
</div>
