<section layout="row" id="ourMission" layout-wrap>
    <div flex="100">
        <h2>Our Mission</h2>
        <div layout="row">
            <div flex="10"></div>
            <p flex="80">
                Our industry has always been fazed with a gap between industry positions and skilled labor force; we see this gap as increasing in the future. The gas industry is on the course to rapidly grow particularly due to recent developments in fracking and LNG technology. The primary problem is that companies still try, buy and implement solutions like they did in the 80's.
            </p>
            <div flex="10"></div>
        </div>
        <div layout="row">
            <div flex="10"></div>
            <p flex="80">
                Our mission here at DMS is simple.
                <i>We are here to provide effective and easy-to-implement solutions that close this gap, without costing millions of dollars.</i>
            </p>
            <div flex="10"></div>
        </div>
        <div layout="row">
            <div flex="10"></div>
            <div flex="80">
                <md-card>
                    <md-card-content>
                        The ever-increasing gap between demand and supply for expert personnel must be met, and we meet it head-on:
                    </md-card-content>
                    <ul>
                        <li>Our products automate your processes, filling the need for additional personnel as you significantly increase your production</li>
                        <li>Our services save you time, eliminating the need for in-house brute-force accounting, scheduling, consulting and training</li>
                        <li>Our Learn(tm) programs boost your personnel's knowledge, keeping your organization continually ahead of the curve</li>
                    </ul>
                </md-card>
            </div>
            <div flex="10"></div>
        </div>
        <div layout="row">
            <div flex="10"></div>
            <p flex="80">
                DMS is setting a new idustry standard.
                Our solutions are as simple as you want and as complex as you need.
            </p>
            <div flex="10"></div>
        </div>
    </div>
</section>


<section id="ourHistory">

</section>

<section id="theIndustry" layout="row" layout-wrap>

</section>

<section id="university">

</section>

<section id="contactUs">

</section>