<section id="about-navbar" layout="row">
    <div flex="100">
        <md-tabs md-dynamic-height md-selected="selectedIndex" md-center-tabs md-border-bottom style="background-color: rgba(242,242,242,0.6);">
            <md-tab label="Overview">
            </md-tab>
            <md-tab label="Our Mission">
            </md-tab>
            <md-tab label="History">
            </md-tab>
            <md-tab label="University">
            </md-tab>
            <md-tab label="Contact Us">
            </md-tab>
        </md-tabs>
    </div>
</section>

<section layout="row" id="ourMission" layout-wrap>
    <div flex="100">
        <h2>Our Mission</h2>
    </div>
</section>


<section layout="row" id="ourHistory" layout-wrap>
    <div flex offset="33"></div>
    <div flex="66" class="history-title">
        <h2>Our History</h2>
        <h4>Since 1993, many of the biggest industry players have trusted us to handle their critical tasks.</h4>
    </div>
    <div flex="33" class="founder-picture">
        <md-card>
            <md-card-content>
                <img src="../../../img/frankpena.jpg" class="img-responsive img-circle" alt="Founder Picture" />
                <h2 class="text-center">Frank Peña</h2>
                <h4>CEO of DMS and GasPro ETRM CEO</h4>
            </md-card-content>
        </md-card>

    </div>
    <div flex="66" layout="column" class="our-main-history">
        <div class="founding">
            <h4>Founding</h4>
            <p>In 1993, a group of pipeline, accounting and mathematic experts gathered to create a better and seamless way to manage the business functions of companies operating in this emerging sector. This group formed Data Management Solutions.</p>
        </div>
        <div class="founder">
            <h4>Founder</h4>
            <p>Frank Peña, C.P.A. and CEO of DMS, has been in the gas industry for over 30 years. Prior to forming DMS, he:</p>
            <ul>
                <li>
                    <p>
                        Co-chaired the Southern Gas Association, representing United Gas Pipeline (now Koch Industires) and also Northern Natural Gas PipelineTestified before FERC as an expert witness on gas accounting and PGA issues
                    </p>

                </li>
                <li>
                    <p>
                        Created, structured and managed previously non-existent control groups at NNG, in areas such as finance, transportation imbalances, storage, fuel consumption and regulatory reporting requirements
                    </p>
                </li>
            </ul>
        </div>
        <div class="today">
            <h4>Today</h4>
            <p>Our organization is a blend of people who have been here from the beginning and young, new ambitious people. Our team boasts a broad yet rich background, with education and experience including forensic and gas accounting, computer science, economics, finance, marketing, supply-chain and advanced mathematics.</p>
            <p>We pool our resources together solely to provide you with the most effective and comprehensive solutions currently available to the industry.  </p>
        </div>
    </div>
</section>

<section id="theIndustry" layout="row" layout-wrap>

</section>

<section id="university">

</section>

<section id="testimonials">

</section>

<section id="contactUs">

</section>