<section id="about-navbar" class="animated flipInX" layout="row">
    <ul flex="100" class="container">
        <li>
            <md-button hide-sm hide-md class="about-header" ng-click="vm.goToTop();">About</md-button>
            <md-button ng-click="vm.goToElement('ourMission');">Our Mission</md-button>
            <md-button ng-click="vm.goToElement('ourHistory');">History</md-button>
            <md-button ng-click="vm.goToElement('university');">University</md-button>
            <md-button ng-click="vm.goToElement('whyUs');">Why DMS</md-button>
            <md-button ng-click="vm.openContactUs();">Contact Us</md-button>
        </li>
    </ul>
</section>

<!--<section class="container" layout="row" id="ourMission" layout-wrap>
    <div flex="100">
        <h2>Our Mission</h2>
        <div layout="row">
            <div flex="10"></div>
            <p flex="80">
                Our industry has always been fazed with a gap between industry positions and skilled labor force; we see this gap as increasing in the future. The gas industry is on the course to rapidly grow particularly due to recent developments in fracking and LNG technology. The primary problem is that companies still try, buy and implement solutions like they did in the 80's.
            </p>
            <div flex="10"></div>
        </div>
        <div layout="row" layout-align="center center">
            <div flex="10"></div>
            <div flex="35">
                <div layout="row">
                    <p>Our mission here at DMS is simple.</p>
                </div>
                <div layout="row">
                    <img class="center-block img-responsive" style="height: 460px;" src="../../../Img/Bridge_StudyInTeal_Small.png" alt="Alternate Text" />
                </div>
                <div layout="row">
                    <h3><i>We are here to provide effective and easy-to-implement solutions that bridge this gap, without costing millions of dollars.</i></h3>
                </div>
            </div>
            <div flex="10"></div>
            <div flex="35">
                <div layout="row">
                    <p>The ever-increasing gap between demand and supply for expert personnel must be met, and we meet it head-on:</p>
                </div>
                <div layout="row">
                    <md-card>
                        <ul>
                            <li>Our <b>products</b> automate your processes, filling the need for additional personnel as you significantly increase your production</li>
                            <li></li>
                            <li>Our <b>services</b> save you time, eliminating the need for in-house brute-force accounting, scheduling, consulting and training</li>
                            <li></li>
                            <li>Our <b>Learn&trade;</b> programs boost your personnel's knowledge, keeping your organization continually ahead of the curve</li>
                        </ul>
                    </md-card>
                </div>
            </div>
            <div flex="10"></div>
        </div>
        <div layout="row">
            <div flex="10"></div>
            <h3 flex="80">
                DMS is setting a new idustry standard.
                Our solutions are as simple as you want and as complex as you need.
            </h3>
            <div flex="10"></div>
        </div>
    </div>
</section>-->

<section class="container" layout="row" layout-wrap id="ourMission">
    <h2 flex="100">Our Mission</h2>
    <p class="para-content mission-main-para">Our industry has always been plagued by a gap between demand for industry experts  and the supply of a skilled labor force; we see this gap as increasing in the future. The gas industry is on the course to rapidly grow particularly due to recent developments in fracking and LNG technology. The primary problem is that companies still try, buy and implement solutions like they did in the 80's.  </p>
    <div flex="100" layout="row" layout-wrap>
        <img flex="33" flex-md="100" flex-sm="100" class="img-responsive center-block bridge animated slideInLeft" src="../../../Img/Bridge_StudyInTeal_Small.png" alt="Our Mission Image" />
        <p flex="50" flex-md="100" flex-sm="100" class="para-content mission-para-2 animated slideInRight">Our mission here at DMS is simple.
We are here to provide effective and easy-to-implement solutions that close this gap, without costing millions of dollars.</p>
    </div>
    <div flex="10"></div>
    <ul flex="80">
        <li class="fa fa-check">
            <span style="font-family: roboto;">Our products automate your processes, filling the need for additional personnel as you significantly increase your production</span>
</li>
        <li class="fa fa-check">
            <span style="font-family: roboto;">Our services save you time, eliminating the need for in-house brute-force accounting, scheduling, consulting and training</span>
</li>
        <li class="fa fa-check">
            <span style="font-family: roboto;">Our educational programs boost your personnel's knowledge, keeping your organization continually ahead of the curve</span>
</li>
    </ul>
    <div flex="10"></div>
    <p flex="100" class="para-content text-center">DMS is setting a new idustry standard.<br />
Our solutions are as simple as you want and as complex as you need.</p>
</section>

<!--<section layout="row" id="parallax-spacer" layout-wrap>
        <div class="parallax-spacing" flex="100">
            <div class="parallax-overlay">
                <p>Since 1993, many of the biggest industry players have trusted us to handle their critical tasks.</p>
            </div>
        </div>

</section>-->

<section class="container" layout="row" id="ourHistory" layout-wrap>
    <div flex offset="33" hide-md hide-sm></div>
    <div flex="66" flex-md="100" flex-sm="100" class="history-title">
        <h2>Our History</h2>
        <h4>Since 1993, many of the biggest industry players have trusted us to handle their critical tasks.</h4>
    </div>
    <div flex="33" flex-md="100" flex-sm="100" class="founder-picture">
        <md-card>
            <md-card-content>
                <img src="../../../img/frankpena.jpg" class="img-responsive img-circle" alt="Founder Picture" />
                <h2 class="text-center">Frank Peña</h2>
                <h4>CEO of DMS and GasPro ETRM CEO</h4>
            </md-card-content>
        </md-card>

    </div>
    <div flex="66" flex-md="100" flex-sm="100" layout="column" class="our-main-history">
        <div class="founding">
            <h4>Founding</h4>
            <p>In 1993, a group of pipeline, accounting and mathematic experts gathered to create a better and seamless way to manage the business functions of companies operating in this emerging sector. This group formed Data Management Solutions.</p>
        </div>
        <div class="founder">
            <h4>Founder</h4>
            <p>Frank Peña, C.P.A. and CEO of DMS, has been in the gas industry for over 30 years. Prior to forming DMS, he:</p>
            <ul>
                <li>
                    <p>
                        Co-chaired the Southern Gas Association, representing United Gas Pipeline (now Koch Industires) and also Northern Natural Gas PipelineTestified before FERC as an expert witness on gas accounting and PGA issues
                    </p>

                </li>
                <li>
                    <p>
                        Created, structured and managed previously non-existent control groups at NNG, in areas such as finance, transportation imbalances, storage, fuel consumption and regulatory reporting requirements
                    </p>
                </li>
            </ul>
        </div>
        <div class="today">
            <h4>Today</h4>
            <p>Our organization is a blend of people who have been here from the beginning and young, new ambitious people. Our team boasts a broad yet rich background, with education and experience including forensic and gas accounting, computer science, economics, finance, marketing, supply-chain and advanced mathematics.</p>
            <p>We pool our resources together solely to provide you with the most effective and comprehensive solutions currently available to the industry.  </p>
        </div>
    </div>
</section>

<div class="industry-parallax" flex="100">
    <div class="industry-overlay">
        <p>"The gas industry and the solutions providers who serve it are at a critical time. Solutions providers have not changed they way they do business in the last 50 years."</p>
    </div>
</div>

<section id="university" class="container" layout="row" layout-wrap>
    <h2 flex="100" class="UniversityHeader">University of Houston</h2>

    <div flex="100" layout="row" class="sentence1">
        <div flex="20"></div>
        <h4 flex="60">
            One of our biggest sources of pride is our affiliation with the Univeristy of Houston
        </h4>
        <div flex="20"></div>
    </div>

    <div layout="row" flex="100" class="sentence2">
        <div flex="10"></div>
        <p flex="80">
            That's why Frank Pena, CEO of DMS, has taught an upper-level course dedicated to Energy Trading Systems at UH since 2010. He has reached Supply Chain, Finance, MIS and Accounting majors as well as MIS graduate students.
        </p>
        <div flex="10"></div>
    </div>



    <div flex="70" flex-md="100" flex-sm="100" class="content">

        <div layout="row" flex="100">
            <div flex="10"></div>
            <div flex="80">
                <div class="course">
                    <h4>The Course</h4>
                    <ul>
                        <li>Knowledge: In one semester, students are exposed to 16 weeks of hard-hitting lectures. We discuss the nitty-gritty details of the gas industry, telling the whole story of a unit of gas as it travels from wellhead to end-user.</li>
                        <li>Practice: The class is as much hands-on as it is lecture-oriented. All students are provided with their own licenses of our ETRM systems, GasPro and GasTrak and have labs that accomopany the lectures. They input their own source information, trade buy/sells, schedule including single- and multi-leg transactions, as well as pool, store and transfer gas.</li>
                    </ul>
                </div>
            </div>
            <div flex="10"></div>
        </div>

        <div layout="row" flex="100">
            <div flex="10"></div>
            <div flex="80">
                <div class="success">
                    <h4>The Success</h4>
                    <ul>
                        <li>Since 2010, course enrollment has grown from 16 to 185+ students.</li>
                        <li>Students have reported that in interviews with big-name Oil & Gas companies in Houston, they had been asked, "Have you taken the Energy Trading Systems course taught by Frank Pena at UH?"</li>
                        <li>We continually receive notes from students how much of an impact the course has made in jump-starting their careers.</li>
                    </ul>
                </div>
            </div>
            <div flex="10"></div>
        </div>

        <!--<div layout="row" flex="100">
            <div flex="10"></div>
            <div flex="80">
                <div class="value">
                    <h4>The Value</h4>
                    <ul>
                        <li>Students value us.</li>
                        <li>Employers value us.</li>
                        <li>The Univeristy values us.</li>
                    </ul>
                </div>
            </div>
            <div flex="10"></div>
        </div>-->

    </div>

    <div flex="30" flex-md="100" flex-sm="100" class="picture">
        <md-card>
            <md-card-content>
                <img src="../../../Img/University.png" height="500" class="img-responsive center-block" />
            </md-card-content>
        </md-card>
    </div>

    <div flex="10"></div>
</section>

<section class="container-fluid" layout="row" id="whyUs" layout-wrap>
    <div flex="50" flex-md="100" flex-sm="100">
        <h2>Why DMS?</h2>
        <h4 class="section-subheader text-center">We have proven that our solutions can improve any business.</h4>
        <ul>
            <li layout="row">
                <div flex="20">
                    <h4>Proven</h4>
                    <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/shield.png" alt="Alternate Text" />
                </div>
                <div flex="80">
                    <p>DMS’ clients include some of the more prominent names in the industry including Producers, Government Agencies, Marketing, and Local Distribution companies.</p>
                </div>
            </li>
            <li layout="row">
                <div flex="20">
                    <h4>Trusted</h4>
                    <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/trophy.png" alt="Alternate Text" />
                </div>
                <div flex="80">
                    <p>Our commitment to our clients’ success has been our primary objective since day one and continues to be so today. To that end, DMS has always and will continue to celebrate successful implementations and not successful sales.</p>
                </div>
            </li>
            <li layout="row">
                <div flex="20">
                    <h4>Commited</h4>
                    <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/bank.png" alt="Alternate Text" />
                </div>
                <div flex="80">
                    <p>The company they formed was Data Management Solutions (DMS). The solution they created was GasPro, an integrated gas management and trading software system providing transparency and efficiencies across the front, middle, and back offices. </p>
                </div>
            </li>
        </ul>
    </div>
    <div hide-md hide-sm flex="50" class="background-right">
        <div class="why-us-overlay"></div>
    </div>
</section>

<script>
    $(window).bind('scroll', function () {
        if ($(window).scrollTop() > 100) {
            $("#about-navbar").addClass("fix-the-navbar");
        } else {
            $("#about-navbar").removeClass("fix-the-navbar");
        }
    });
</script>

<div ng-include="'/app/components/contact/inPageContactUs.html'"></div>
<div ng-include="'/app/components/contact/sidenavContactUs.html'"></div>