<section id="main-testimonials" layout="row" layout-wrap>
    <h2 flex="100">What People Say</h2>
    <h4 flex="100">Phasellus vitae ipsum ex. Etiam eu vestibulum ante.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
    <div flex="100" class="testimonials-slider" layout="row" layout-wrap>
        <div flex offset="10"></div>
        <div flex="80">
            <md-tabs md-stretch-tabs="always" md-dynamic-height md-border-bottom>
                <md-tab label="Jumpstart">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Jumpstart</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img5.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"With the growing volume of business, we had trouble getting our invoices out on time and lacked the ability of tracking credit limits.  We were at the end of our rope and had to do something. Either we hire more staff, cap transactions or get a system that worked."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img6.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img7.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img2.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Efficiency">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Efficiency</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img5.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"With the growing volume of business, we had trouble getting our invoices out on time and lacked the ability of tracking credit limits.  We were at the end of our rope and had to do something. Either we hire more staff, cap transactions or get a system that worked."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img6.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img7.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img2.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Responsive">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Responsive</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img5.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"With the growing volume of business, we had trouble getting our invoices out on time and lacked the ability of tracking credit limits.  We were at the end of our rope and had to do something. Either we hire more staff, cap transactions or get a system that worked."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img6.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img7.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img2.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Endorsement">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Endorsement</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img5.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"With the growing volume of business, we had trouble getting our invoices out on time and lacked the ability of tracking credit limits.  We were at the end of our rope and had to do something. Either we hire more staff, cap transactions or get a system that worked."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img6.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img7.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img2.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Compliance">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Compliance</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img5.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"With the growing volume of business, we had trouble getting our invoices out on time and lacked the ability of tracking credit limits.  We were at the end of our rope and had to do something. Either we hire more staff, cap transactions or get a system that worked."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img6.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img7.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img2.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas Industry</p>
                                    <p>- Midstream Marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <div flex offset="10"></div>
    </div>
</section>

