<section id="main-testimonials" layout="row" layout-wrap>
    <h2 flex="100">What Our Clients Say</h2>
    <div flex offset="20"></div>
    <h4 flex="60">"We are streamlined. GasPro has allowed us to increase our volume of transactions without having to increase our staff. We can have scalability without increasing hires. It allows us to put our attention and effort on other aspects of our business."</h4>
    <div flex offset="20"></div>
    <div flex="100" class="testimonials-slider" layout="row" layout-wrap>
        <div flex offset="10" hide-md hide-sm></div>
        <div flex="80" flex-md="100" flex-sm="100">
            <md-tabs md-stretch-tabs="auto" md-center-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Jumpstart">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Jumpstart</h2>
                        <div flex="100" layout="row" layout-align="center center" layout-wrap>
                            <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                                <img flex="20" src="../../../Img/testimonials/letter.png" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"Before GasPro, we just couldn’t keep up. With the growing volume of business, we had trouble getting our invoices out on time and lacked the ability of tracking credit limits. We were at the end of our rope and had to do something. Either we hire more staff, cap transactions or get a system that worked.
                                    <br /><br />
                                    We asked for a GasPro demo, and it was evident right then and there, that the solution worked, and we gained a sense of confidence about the team behind the product too. We didn’t have the time or desire to run a parallel system. We implemented and were up and running real time right out of the blocks."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Midstream marketer</p>
                                    <p>– 2 billion in annual gas costs</p>
                                </md-card-content>
                            </md-card>
                            <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                                <img flex="20" src="../../../Img/testimonials/life-preserver.png" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"We convinced management if we didn’t get a system in place eventually we’d end up crashed, our manual systems would simply break under the strain. Unfortunately, we were forced to go with another software package that was considered cheaper than the rest. The problem was, even at “cheap” it was expensive because it never worked. We fought and wrestled with it for 10 months. The good news is, we killed it before it killed us. At that point, it became evident that you get what you pay for, and we were able to approve the investment in GasPro. We ramped up and implemented from the get go; no parallel, we just got out and ran with it. We were invoicing our first month."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas management/marketing firm</p>
                                    <p>– 1,000+ wellheads</p>
                                </md-card-content>
                            </md-card>
                            <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                                <img flex="20" src="../../../Img/testimonials/merit-ribbon.png" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>
                                        "When we looked for an off the shelf solution we looked for several things. Would the company be available to help us? Will the system work? Will it cover all our needs from the beginning?
                                        <br /><br />
                                        GasPro was a “yes” on all fronts. DMS’ expertise was assuring. They were flexible, and the demo proved the system worked.Because we had spent so much time and money in an earlier attempt to get a system that worked and in the end failed, in this objective everyone had a vested interest in making sure whatever we purchased would absolutely work. Everyone had to sign off and they did."
                                    </p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Wholesale purchaser, distributor, marketer</p>
                                    <p>- 400 million cubic feet of natural gas per day</p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Efficiency">
                    <md-content class="md-padding testimonials-slider" layout-align="center center" layout="row" layout-wrap>
                        <h2 flex="100">Efficiency</h2>
                        <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/merit-ribbon.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80" style="padding-bottom: 0px;">
                                <p>"We’ve had GasPro for over 10 years. The software is seamless; its all-in-one design lets us roll over the information throughout the company from department to department. It allows our processes to flow and it ties us all together. Every month we invoice over 3,000 clients and the software allows us to do all our invoices in a single day. This single source tracking allows us to conduct more business with the same-sized staff and the time savings allows us to focus on other aspects of our business."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Gas marketing for producer clients/gas sales services to end users</p>
                                <p>- 3,000 monthly clients</p>
                            </md-card-content>
                        </md-card>
                        <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/cloud.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80">
                                <p>"The system handles our needs and more. Our CEO is demanding, mandating that we get compliance reports out; without them you just can’t operate. Handling FERC, SOX and FAS requirements is GasPro’s strength and strong suit. GasPro allows these report requirements to be met easily. We’re a small shop, and that requires that everyone be multi-purposed. GasPro is compact; we get high leverage from it. We can get a lot of business done with the system."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Public utility holding company</p>
                                <p>- Over 1.5 billion in gas costs annually</p>
                            </md-card-content>
                        </md-card>
                        <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/calculator.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80">
                                <p>"You enter your deal information only once. From there, it is then accessible and in a useable format that is available in an industry acceptable manner. It is an electronic database that allows a single point of entry… but from there we can do everything we need for our business, credit, accounting and deals. We are almost paperless. We can telecommute."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Distributor/Marketer</p>
                                <p>- 2.5 billion annual sales</p>
                            </md-card-content>
                        </md-card>
                        <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/monitor.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80">
                                <p>"We are streamlined. GasPro has allowed us to increase our volume of transactions without having to increase our staff. We can have scalability without increasing hires. It allows us to put our attention and effort on other aspects of our business."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Midstream marketer</p>
                                <p>- 1.9 billion annual cost</p>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </md-tab>
                <md-tab label="Responsive">
                    <md-content class="md-padding testimonials-slider" layout-align="center center" layout="row" layout-wrap>
                        <h2 flex="100">Responsive</h2>
                        <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/life-preserver.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80" style="padding-bottom: 0px;">
                                <p>"DMS is 100% responsive. They know the industry and they know the system. The web based feature is really great, one of the best things is that we can go remote. We are looking forward to the next User Group Forum where we can learn from each other."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Public utility holding company</p>
                            </md-card-content>
                        </md-card>
                        <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/calculator.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80">
                                <p>"They answer their phones. They are accessible, we’re not lost in someone else’s IT department. You get the attention you need, when you need it."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Midstream marketer</p>
                            </md-card-content>
                        </md-card>
                        <md-card layout="row" flex="66" flex-md="80" flex-sm="100" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/monitor.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80">
                                <p>"They know the business. They built the software around this knowledge, and they take care of us immediately when we have a need. They are our business partner."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Gas distributor and marketer</p>
                            </md-card-content>
                        </md-card>
                        <md-card layout="row" flex="66" flex-md="80" flex-sm="100" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/cloud.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80">
                                <p>"GasPro is dependable and worry free. DMS works very well for us. They are always there, offer rapid response and are easy to access. They do what they say; they have never let me down."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Gas marketing/gas sales services</p>
                            </md-card-content>
                        </md-card>
                        <md-card layout="row" flex="66" flex-md="80" flex-sm="100" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/letter.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80">
                                <p>"They absolutely do what they say. On a scale of 1 to 10 the DMS client support is a 9.5. They are like our business partner. They don’t have to spend time figuring out how to understand your problem, they are already working on the solution because they know the business. I like the User Group Forum; we give our input, enhancements are made and shared in new releases. It’s a partnership."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Gas management/marketing firm</p>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </md-tab>
                <md-tab label="Endorsement">
                    <md-content class="md-padding testimonials-slider" layout-align="center center" layout="row" layout-wrap>
                        <h2 flex="100">Endorsement</h2>
                        <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/merit-ribbon.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80" style="padding-bottom: 0px;">
                                <p>"Yes, I do support and endorse GasPro openly. I’ll show prospects what the system does for us. When DMS grows, that’s good for us too."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Midstream marketer</p>
                            </md-card-content>
                        </md-card>
                        <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/cloud.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80">
                                <p>"Yes, I have recommended GasPro to others and I’ll do it again. I think DMS built the system right from day one. It’s been there from the beginning. I wouldn’t say GasPro changed our culture, but it did change how we work. As a 20-person shop, we just became better at what we already knew how to do."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Gas management/marketing firm</p>
                            </md-card-content>
                        </md-card>
                        <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/letter.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80">
                                <p>"Yes I recommend GasPro, it’s a cut above the rest."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Gas marketing/gas sales services</p>
                            </md-card-content>
                        </md-card>
                        <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/monitor.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80">
                                <p>"Word of mouth is the best way to market them. The system is dependable, maintenance free and a great value. Yes, I’ll endorse the company and the software."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Wholesale purchaser, distributor, marketer</p>
                            </md-card-content>
                        </md-card>
                        <md-card flex="66" flex-md="80" flex-sm="100" layout="row" layout-wrap>
                            <img flex="20" src="../../../Img/testimonials/life-preserver.png" class="img-circle img-responsive" alt="image caption">
                            <md-card-content flex="80">
                                <p>"GasPro has top of the line performance. It’s a great value over the long haul, and I endorse it."</p>
                            </md-card-content>
                            <div flex offset="20"></div>
                            <md-card-content flex="80" layout="column" layout-align="start start">
                                <p>Public Utility Company</p>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </md-tab>
                <md-tab label="Compliance">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Compliance</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="../../../Img/testimonials/calculator.png" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"The ability to respond to the SOX, FAS and FERC reporting requirements is critical, and that’s a great value for us. You have to get this right, there is no maybe, it is mandated now and GasPro allows these requirements to be met easily."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Major Midwest Local Distribution Company</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap style="width: 100% !important">
                                <md-card-content flex="100">
                                    <h2>FERC, FAS and Sarbanes - Oxley Compliance</h2>
                                    <p>DMS’ GasPro system is architected and designed to accommodate controls and reporting changes brought about by new clients, industry changes, and regulatory requirements. With over 15 years of providing its clients with the audit information required to comply with their individual, and at times unique, audit requirements DMS has proven its ability to meet the FERC, FAS, and SOX controls and reporting mandates.
                                    <br /><br />
                                    The creation of the Sarbanes Oxley Act (SOX) caused no architectural changes in GasPro. DMS has always understood the importance of our clients’ data integrity and its safekeeping, and GasPro was designed based on Generally Accepted Accounting Principles (GAAP), our expertise of the gas industry, and a high level of process and data security. When SOX arrived in 2002/03, our clients simply asked us to provide the type of information for their audits that eventually ended up becoming what SAS 70 - Type II compliance requires today. Our clients have been passing their audits for over 15 years and GasPro has been passing the audits as well.
                                    <br /><br />
                                    The architecture of the GasPro system facilitates the compliance with changing FERC requirements (www.ferc.gov), FAS statements (www.fasb.org), and Sarbanes Oxley mandates (www.soxlaw.com) with ease.</p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <div flex offset="10" hide-md hide-sm></div>
    </div>
</section>

<div ng-include="'/app/components/contact/inPageContactUs.html'"></div>

