<md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="The Right Start">
            <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                <h2 flex="100">Testimonials 1</h2>
                <div flex="100" layout="row" layout-align="center center">
                </div>
                <div flex="100" layout="row" layout-align="center center">
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
