/*section#ourMission {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    div {
        h2 {
            padding-bottom: 0px;
            @extend .section-header;
            font-size: 40px;
            text-align: center;
        }
        p {
            margin: 0px;
            line-height: 1.75;
            color: #666666;
            font-size: 16px;
            text-align: left;
            padding-top: 1%;
        }
        div {
            padding-top: 1%;
            div {
                md-card {
                    background-color: $teal;
                    @extend .card-shadow;
                    ul {
                        li {
                            margin: 0px;
                            color: white;
                            font-size: 16px;
                            text-align: left;
                        }
                    }
                }

                ul {
                    list-style: none;
                    padding-right: 4%;
                    li {
                        padding-bottom: 1%;
                        color: #666666;
                        text-align: left;
                    }
                }
            }
            h3 {
                color: #666666;
                text-align: center;
                font-weight: 400;
            }
            &:nth-child(2) {
                p {
                    text-align: center;
                }
            }
            &:nth-child(3) {
                h3 {

                }
                img {
                    margin-top: 16px;
                    max-height: 170px;
                }
            }
        }
    }
}*/

section#about-our-mission {
    padding-top: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    text-align: center;
}

section#about-header-pic {
	text-align:center;
    background-color: rgba(0,150,136, 0.8);
	background-image: url("../../../Img/about/bridge-narrow.jpg");
	background-size: cover;
    background-position: center top;
    /*background-position: center center;
    background-repeat: no-repeat;*/
	/*background-attachment:fixed;*/
	box-shadow:0px 2px 10px rgba(0,0,0,0.15);
    height: auto;
    .about-header-overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(51, 51, 51, .35);
        h2 {
            margin: 0px;
            padding-top: 50px;
            color: white;
            font-size: 64px;
        }
        p {
            @extend .section-subheader;
            color: white;
            font-size: 24px;
            padding-bottom: 60px;
        }
    }
}

section#about-navbar {
    padding-right: 23%;
    z-index: 40;
    @media (max-width: 955px) {
        padding-right: 0px
    }
    @media (max-width: 520px) {
        height: 86px;
    }
    height: 40px;
    background-color: rgba(0,150,136, 0.8);
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    ul {
        margin: 0px;
        li {
            margin-left: 25%;
            display: inline;
            list-style-type: none;
            @media(min-width: 1450px) {
                margin-left: 23%;
            }
            @media(min-width: 1630px) {
                margin-left: 20%;
            }
            @media(min-width: 1630px) {
                margin-left: 15%;
            }
            @media(min-width: 1630px) {
                margin-left: 10%;
            }
            @media (max-width: 955px) {
                margin-left: 0px;
            }
        }
    }
    .md-button {
        line-height: 30px;
        min-height: 10px;
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        margin-left: 0px;
        margin-right: 0px;
        &:first-child {
            @media(min-width: 1450px) {
                margin-left: 25%;
            }
            @media(min-width: 1630px) {
                margin-left: 30%;
            }
            @media(min-width: 1850px) {
                margin-left: 35%;
            }
            @media(min-width: 1850px) {
                margin-left: 40%;
            }
            float: left !important;
            font-size: 14px;
            font-weight: 500;
            margin-left: 20%;
        }
    }
}

section#about-navbar1 {
    display: none;
    padding-right: 23%;
    z-index: 40;
    @media (max-width: 955px) {
        padding-right: 0px
    }
    @media (max-width: 520px) {
        height: 86px;
    }
    height: 40px;
    background-color: rgba(0,150,136, 0.8);
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    ul {
        margin: 0px;
        li {
            margin-left: 25%;
            display: inline;
            list-style-type: none;
            @media(min-width: 1450px) {
                margin-left: 23%;
            }
            @media(min-width: 1630px) {
                margin-left: 20%;
            }
            @media(min-width: 1630px) {
                margin-left: 15%;
            }
            @media(min-width: 1630px) {
                margin-left: 10%;
            }
            @media (max-width: 955px) {
                margin-left: 0px;
            }
        }
    }
    .md-button {
        line-height: 30px;
        min-height: 10px;
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        margin-left: 0px;
        margin-right: 0px;
        &:first-child {
            @media(min-width: 1450px) {
                margin-left: 25%;
            }
            @media(min-width: 1630px) {
                margin-left: 30%;
            }
            @media(min-width: 1850px) {
                margin-left: 35%;
            }
            @media(min-width: 1850px) {
                margin-left: 40%;
            }
            float: left !important;
            font-size: 14px;
            font-weight: 500;
            margin-left: 20%;
        }
    }
}

/*section#about-navbar {
    z-index: 40;
    padding-right: 23%;
    @media (max-width: 955px) {
        padding-right: 0px
    }
    @media (max-width: 520px) {
        height: 86px;
    }
    height: 40px;
    background-color: rgba(0,150,136, 0.8);
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    ul {
        margin: 0px;
        li {
            margin-left: 25%;
            display: inline;
            list-style-type: none;
            @media(min-width: 1450px) {
                margin-left: 23%;
            }
            @media(min-width: 1630px) {
                margin-left: 20%;
            }
            @media(min-width: 1630px) {
                margin-left: 15%;
            }
            @media(min-width: 1630px) {
                margin-left: 10%;
            }
            @media (max-width: 955px) {
                margin-left: 0px;
            }
        }
    }
    .md-button {
        line-height: 30px;
        min-height: 10px;
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        margin-left: 0px;
        margin-right: 0px;
        &:first-child {
            @media(min-width: 1450px) {
                margin-left: 25%;
            }
            @media(min-width: 1630px) {
                margin-left: 30%;
            }
            @media(min-width: 1850px) {
                margin-left: 35%;
            }
            @media(min-width: 1850px) {
                margin-left: 40%;
            }
            float: left !important;
            font-size: 14px;
            font-weight: 500;
            margin-left: 20%;
        }
    }
}

section#about-navbar1 {
    z-index: 40;
    padding-right: 23%;
    @media (max-width: 955px) {
        padding-right: 0px
    }
    @media (max-width: 520px) {
        height: 86px;
    }
    height: 40px;
    background-color: rgba(0,150,136, 0.8);
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    ul {
        margin: 0px;
        li {
            margin-left: 25%;
            display: inline;
            list-style-type: none;
            @media(min-width: 1450px) {
                margin-left: 23%;
            }
            @media(min-width: 1630px) {
                margin-left: 20%;
            }
            @media(min-width: 1630px) {
                margin-left: 15%;
            }
            @media(min-width: 1630px) {
                margin-left: 10%;
            }
            @media (max-width: 955px) {
                margin-left: 0px;
            }
        }
    }
    .md-button {
        line-height: 30px;
        min-height: 10px;
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        margin-left: 0px;
        margin-right: 0px;
        &:first-child {
            @media(min-width: 1450px) {
                margin-left: 25%;
            }
            @media(min-width: 1630px) {
                margin-left: 30%;
            }
            @media(min-width: 1850px) {
                margin-left: 35%;
            }
            @media(min-width: 1850px) {
                margin-left: 40%;
            }
            float: left !important;
            font-size: 14px;
            font-weight: 500;
            margin-left: 20%;
        }
    }
}*/

section#ourMission {
    background-image: url("../../../Img/about/bridge.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: 50% 88%;
    .ourMission-overlay {
        padding-top: 300px;
        padding-bottom: 0px;
        /*background: rgba(33,33,33,0.60);*/
        width: 100%;
        height: auto;
        ul {
            @extend .text-center;
            padding-top: 16px;     
            li {
                color: #212121 !important;
                @extend .para-content;
                padding-bottom: 6px;
                font-family: roboto;
            }
        }
    }
    md-card {
        background-color: #F44336;
        @extend .card-shadow;
    }
    h2 {
        padding-bottom: 0px;
        @extend .section-header;
        font-size: 40px;
        text-align: center;
        color: #212121;
    }
    .mission-main-para {
        @media (max-width: 850px) {
            padding-right: 5%;
            padding-left: 5%;
        }
        padding-bottom: 1%;
        padding-right: 15%;
        padding-left: 15%;
        @extend .text-center;
        color: #212121;
    }
    .bridge {
        max-width: 300px;
        height: 150px;
        padding-top: 10px;
    }
    
    .mission-para-2 {
        padding-right: 10%;
        @media (max-width: 850px) {
            @extend .text-center;
            padding-left: 5%;
        }
    }
    .lightbulb {
        max-width: 400px;
        height: 200px;
        margin-left: 0px
    }
}

section#ourMission2 {
    .ourMission2-heading {
        background-image: url("../../../Img/about/bridge-narrow.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /*background-attachment: fixed;*/
        background-position: center;
        width: 100%;
    }
    md-card {
         margin-top: 250px;
         margin-left: 15%;
         margin-right: 15%;
         background-color: rgba(62,60,55, 0.5);
         @extend .card-shadow;
    }
    h2 {
        padding-bottom: 0px;
        @extend .section-header;
        font-size: 40px;
        text-align: center;
        color: white;
        width: 100%;
    }
    p {
        @media (max-width: 850px) {
            padding-right: 5%;
            padding-left: 5%;
        }
        padding-right: 1%;
        padding-left: 1%;
        @extend .text-center;
        color: white;
    }
}

section#cta-about {
    margin-top: -5px;
    background-color: rgba(0,150,136, 0.8);
    height: auto;
    -webkit-box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.75);
    p {
        @extend .text-center;
        color: #fff;
        font-weight: 300;
        font-size: 24px;
        margin: 0px;
        padding-top: 14px;
    }
}

section#parallax-spacer {
    padding: 0;
    margin: 0;
    .parallax-spacing {
        background-image: url("../../../Img/parallaxholder_cropped.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 300px;
        padding: 0;
        margin: 0;
        .parallax-overlay {
            height: 100%;
            width: 100%;
            background-color: rgba(#424242, .65);
            p {
                color: #fff;
                line-height: 2;
                font-weight: 300;
                font-size: 24px;
                padding-left: 20%;
                padding-right: 20%;
                padding-top: 6%;
                padding-bottom: 6%;
                margin-top: 0px;
                text-align: center;
            }
        }
    }
}

section#ourHistory {
    padding-top: 30px;
    padding-bottom: 90px;
    padding-right: 50px;
    padding-left: 20px;
    h2 {
        @extend .section-header;
        @extend .text-center;
    }
    .history-title {
        h4 {
            @extend .section-subheader;
            @extend .text-center;
        }
    }
    .founder-picture {
        margin-top: 30px;
        img {
            @extend .center-block;
        }
        h2 {
            text-align: center;
        }
        h4 {
            @extend .section-subheader;
            text-align: center;
        }
    }

    .our-main-history {
        padding-left: 30px;
        h4 {
            border-bottom: 1px solid #eeeeee;
            margin-top: 16px;
            margin-bottom: 16px;
            font-weight: 400;
            color: #444444;
            font-size: 1.5em;
            padding-bottom: 2px;
            &:first-letter {
                font-weight: 500;
            }
            &:first-child {
                margin-top: 30px;
            }
        }

        p {
            line-height: 1.75;
            color: #666666;
            font-size: 16px;
        }
        ul {
            color: #666666;
            font-size: 16px;
        }

        .founding {

        }
        .founder {
            &:nth-child(3) {
                line-height: 2.5 !important;
            }
            ul {
                li {
                    p {
                        line-height: 1.75;
                        color: #666666;
                        font-size: 16px;
                    }
                }
            }
        }
        .today {

        }
    }
}

.industry-parallax {
    background-image: url(../../Img/about/buildings.jpg);
    background-color: rgba(0,150,136, 0.8);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
    @media (max-width: 450px) {
        background-attachment: scroll;
    }
    .industry-overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(#424242, .5);
        p {
            color: #fff;
            line-height: 2;
            font-weight: 300;
            font-size: 24px;
            padding-left: 20%;
            padding-right: 20%;
            padding-top: 90px;
            margin-top: 0px;
            text-align: center;
            @media (max-width: 990px) {
                padding-top: 50px;
            }
            @media (max-width: 770px) {
                padding-top: 30px;
            }
            @media (max-width: 633px) {
                padding-top: 50px;
                font-size: 20px;
            }
            @media (max-width: 529px) {
                padding-top: 30px;
            }
            @media (max-width: 447px) {
                padding-top: 50px;
                font-size: 17px;
            }
        }
    }
}

.about-industry-parallax {
    background-image: url(http://www.commendusa.com/uploads/media/oil-gas-industry_01.jpg);
    background-size: cover;
    background-position: 40% 90%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
    padding-left: 15%;
    padding-right: 15%;
    md-card {
        background-color: rgba(#251f39, .65);
        p {
            color: #fff;
            line-height: 2;
            font-weight: 300;
            font-size: 24px;
            text-align: center;
            /*@media (max-width: 990px) {
                padding-top: 50px;
            }
            @media (max-width: 770px) {
                padding-top: 30px;
            }
            @media (max-width: 633px) {
                padding-top: 50px;
                font-size: 20px;
            }
            @media (max-width: 529px) {
                padding-top: 30px;
            }
            @media (max-width: 447px) {
                padding-top: 50px;
                font-size: 16px;
            }*/
        }
    }
}

section#university {
    padding-top: 70px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 90px;
    .UniversityHeader {
            padding-bottom: 0px;
            @extend .section-header;
            font-size: 40px;
            text-align: center;
    }
    .sentence1 {
        h4 {
            margin: 0px;
            line-height: 1.75;
            color: #666666;
            font-size: 16px;
            text-align: center;
            padding-top: 1%;
        }
    }
    .sentence2 {
        p {
            margin: 0px;
            line-height: 1.75;
            color: #666666;
            font-size: 16px;
            text-align: center;
            padding-top: 1%;
        }
    }
    .content {
        div {
            div{
                .course {
                    padding-top: 3%;
                    h4 {
                        border-bottom: 1px solid #eeeeee;
                        margin-top: 16px;
                        margin-bottom: 16px;
                        font-weight: 400;
                        color: #444444;
                        font-size: 1.5em;
                        padding-bottom: 2px;
                    }
                    ul {
                        li {
                            margin: 0px;
                            line-height: 1.75;
                            color: #666666;
                            font-size: 16px;
                            text-align: left;
                            padding-top: 1%;
                        }
                    }

                }
            }
        }
         div {
            div{
                .success {

                    h4 {
                        border-bottom: 1px solid #eeeeee;
                        margin-top: 16px;
                        margin-bottom: 16px;
                        font-weight: 400;
                        color: #444444;
                        font-size: 1.5em;
                        padding-bottom: 2px;
                    }

                    ul {
                        li {
                            margin: 0px;
                            line-height: 1.75;
                            color: #666666;
                            font-size: 16px;
                            text-align: left;
                            padding-top: 1%;
                        }
                    }

                }
            }
        }
          div {
            div{
                .value {

                    h4 {
                        border-bottom: 1px solid #eeeeee;
                        margin-top: 16px;
                        margin-bottom: 16px;
                        font-weight: 400;
                        color: #444444;
                        font-size: 1.5em;
                        padding-bottom: 2px;
                    }

                    ul {
                        li {
                            margin: 0px;
                            line-height: 1.75;
                            color: #666666;
                            font-size: 16px;
                            text-align: left;
                            padding-top: 1%;
                        }
                    }

                }
            }
        }
    }
    .picture {
        padding-top: 5%;
    }
}

section#whyUs {
    border-bottom: 1px solid #eeeeee;
    height: auto;
    background-color: #f5f5f5;
    .background-right {
        /*background-image: url("../../../Img/about/code.jpg");*/
        background-image: url("../../../Img/about/person.jpg");
        /*background-image: url("../../../Img/about/man.jpg");*/
        /*background-image: url("../../../Img/about/girl.jpg");*/
        background-repeat: no-repeat;
        background-position: 55% 50%;
        background-size: cover;
        /*.why-us-overlay {
            background: rgba(255, 255, 255,0.15);
            width: 100%;
            height: 700px;
        }*/
    }
    div {
        &:nth-child(1) {
            h2 {
                padding-top: 50px;
                padding-bottom: 0px;
                @extend .section-header;
                font-size: 28px;
                text-align: center;
            }
            ul {
                padding-left: 0px;
                list-style: none;
                margin-top: 6px;
                li {
                    padding-bottom: 1px;
                    h4 {
                        @extend .text-center;
                        font-size: 18px !important;
                        font-weight: 500;
                        color: #263238;
                        margin: 0px;
                        margin-top: 50px;
                    }
                    p {
                        margin: 0px;
                        line-height: 1.75;
                        color: #666666;
                        font-size: 16px;
                        padding-right: 24px;
                    }
                    img {
                        padding-bottom:40px;
                    }
                    div {
                        &:first-child {
                            @extend .text-center;
                        }
                        &:nth-child(2) {
                            p {
                                margin-top: 36px;
                            }
                        }
                    }
                }
            }
            .md-button {
                margin-top: 26px;
                background-color: #009688;
            }
        }
    }
}

/*section#about-navbar {
    div {
        md-tabs {
            md-tabs-wrapper {
                md-tabs-canvas {
                    md-pagination-wrapper {
                        md-tab-item {
                            -webkit-animation-name: animate-tabs;
                            -webkit-animation-duration: 0.5s;
                            animation-name: animate-tabs;
                            animation-duration: 0.4s;
                            @keyframes animate-tabs {
                                from{ line-height: 90px; }
                                to { line-height: 24px; }
                            }
                        }
                    }
                }
            }
        }
    }
}*/

.card-shadow {
    -webkit-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.75);
}
