section#contactUs {
    @extend .container;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
    div {
        &:first-child {
            text-align: center;
            padding-bottom: 30px;
            h2 {
                @extend .section-header;
            }
            h4 {
                @extend .section-subheader;
            }
        }
        &:nth-child(2) {
            img {
                margin-top: 0px;
                height: 275px;
                @extend .center-block;
                @extend .img-responsive;
            }
            p {
                @extend .section-subheader;
                line-height: 2.0;
            }
        }
        &:nth-child(3) {
            md-card {
                margin-top: 70px;
                margin-left: 30px;
                margin-right: 30px;
                md-card-content {
                    form {
                        .md-actions {
                            &:first-child {
                                div {
                                    &:nth-child(1) {
                                        h5 {
                                            padding-top: 20px;
                                            padding-left: 10px;
                                            font-size: 16px;
                                            font-weight: 300;
                                            color: #999999;
                                            margin: 0px;
                                        }
                                    }
                                }
                                .md-button {
                                        color: #E53935;
                                        font-size: 20px;
                                }
                            }
                        }
                    }
                    .md-actions {
                        &:nth-child(2) {
                            h5 {
                            padding-top: 0px;
                            padding-left: 10px;
                            font-size: 16px;
                            font-weight: 300;
                            color: #999999;
                            margin: 0px;
                            }

                        }
                    }
                }
            }
        }
    }
}

md-sidenav {
    z-index: 90;
}
.sincerely {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #999999;
    margin: 0px;
}

.md-sidenav-left {
    background-color: #f5f5f5;
    padding: 0px;
    text-align: left !important;
    min-width: 800px;
    @media (max-width: 850px) {
        min-width: 100%;
    }
}

section#contactUs-sidenav {
    @extend .container;
    z-index: 999;
    padding-top: 90px;
    padding-bottom: 90px;
    padding: 40px;
    div {
        &:first-child {
            h2 {
                @media (max-width: 450px) {
                    font-size: 40px
                }
            }
        }
        &:nth-child(2) {
            text-align: right;
        }
        &:nth-child(3) {
            md-card {
                margin-top: 70px;
                margin-left: 30px;
                margin-right: 30px;
                @media (max-width: 450px) {
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 0px;
                }
                md-card-content {
                    form {
                        .md-actions {
                            &:first-child {
                                div {
                                    &:nth-child(1) {
                                        h5 {
                                            padding-top: 20px;
                                            padding-left: 10px;
                                            font-size: 16px;
                                            font-weight: 300;
                                            color: #999999;
                                            margin: 0px;
                                            @media (max-width: 450px) {
                                                padding-top: 0px;
                                            }
                                        }
                                    }
                                }
                                .md-button {
                                        color: #E53935;
                                        font-size: 20px;
                                }
                            }
                        }
                    }
                    .md-actions {
                        &:nth-child(2) {
                            h5 {
                                padding-top: 0px;
                                padding-left: 10px;
                                font-size: 16px;
                                font-weight: 300;
                                color: #999999;
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

section#contact-form-main {
    md-content {
        md-card {
            min-height: 150px;
            max-width: 600px;

            md-card-content {
                background-color: #90A4AE;
                min-height: 150px;
            }
        }
        button {
            border: 4px solid white;
            min-width: 0;
            width: 5.6rem;
            height: 5.6rem;
            border-radius: 50%;
            background-color: $secondary-6;
        }
    }
}

#contactUs-sidenav > div.flex.flex-100.flex-gt-md.flex-gt-md-66 > h2 {
    @extend .section-header;
}

section#small-inPage {
    height: auto;
    padding-bottom: 45px;
    div {
        padding-top: 45px;
        border-top: 1px solid #ddd;
        img {
            margin-bottom: 6px;
        }
        h4 {
            font-size: 24px !important;
            font-weight: 500;
        }
        p {
            @extend .para-content;
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
}

.contact-us-logo {
    width: 50%;
    padding: 10%
}

.error-msg {
    text-align: center;
    color: #F44336;
    font-size: 12px;
}