section#md-footer {
    height: auto;
    background-image: url(../../../Img/bgfooter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #37474F;
    border-top: 1px dashed rgba(#455A64, .8);
    color: white !important;

    .about-dms {
        padding-left: 75px;
        padding-right: 55px;
        margin-top: 14px;
        p {
            color: #A5A2A2;
            font-size: 13px;
            line-height: 1.8;
        }
        img {
            @media(max-width: 1000px) {
                margin: auto;
            }
        }
    }

    .find-us {
        padding-right: 65px;
        padding-left: 65px;
        h4 {
            margin-top: 30px;
            margin-bottom: 30px;
            @extend .section-header;
            @extend .text-center;
            font-weight: 300;
            font-size: 26px;
            color: #fff;
        }
        ul {
            padding-left: 0px;
            background-image: url(../../../Img/map.png);
            background-repeat: no-repeat;
            background-size: contain;
            li {
                color: #A5A2A2;
                font-size: 13px;
                line-height: 1.8;                
                list-style-type: none;
            }
        }
    }

    .newsletter-footer {
        padding-left: 90px;
        padding-right: 90px;
        h4 {
            margin-top: 30px;
            margin-bottom: 16px;
            @extend .section-header;
            @extend .text-center;
            font-weight: 300;
            font-size: 26px;
            color: #fff;
        }
        .md-button {
            min-width: 100%;
            font-size: 12px;
            margin: 0px;
            background-color: #00897B;
            color: #fff
        }
    }
}
.newsletter-first {
    padding: 0px;
    ::-webkit-input-placeholder {
       color: #aaa;
       font-size: 12px;
    }
    input {
        padding: 2px;
        background-color: #333;
        font-size: 14px;
        width: 95%;
        border-bottom: 1px solid white;
        color: white;
        border-right: 4px solid #3c3c3c;

    }
}
.newsletter-second {
    ::-webkit-input-placeholder {
       color: #aaa;
       font-size: 12px;
    }
    padding: 0px;
    label {
        color: #aaa;
        font-size: 14px;
    }
    input {
        padding: 2px;
        background-color: #333;
        font-size: 14px;
        width: 100%;
        border-bottom: 1px solid white;
        color: white;
    }
}
.newsletter-third {
    padding-bottom: 0px;
    ::-webkit-input-placeholder {
       color: #aaa;
       font-size: 12px;
    }
    label {
        color: #aaa;
        font-size: 14px;
    }
    input {
        @media (max-width: 616px) {
            margin-top: 10px;
        }
        margin-top: 0px;
        padding: 2px;
        background-color: #333;
        font-size: 14px;
        width: 100%;
        border-bottom: 1px solid white;
        color: white;
    }
}

.social-media {
   h4 {
        margin-top: 16px;
        margin-bottom: 2px;
        @extend .section-header;
        @extend .text-center;
        font-weight: 300;
        font-size: 16px;
        color: #fff;
   }
   ul {
       margin-top: 6px;
       padding: 0px;
       @extend .text-center;
       li {
           a {
               color: white;
               padding: 2px 4px;
               font-size: 24px;
           }
           list-style-type: none;
           display: inline-block;
           &:nth-child(1) {
               a {
                   &:hover {
                    color: #3B5998;
                   }
               }
           }
           &:nth-child(2) {
               a {
                    &:hover {
                        color: #659FCB;
                    }
                 }
           }
           &:nth-child(3) {
               a {
                   &:hover {
                        color: #007AB9;
                    }
               }
           }
           &:nth-child(4) {
               a {
                   &:hover {
                        color: #DD5144;
                    }
               }
           }
           &:nth-child(5) {
               a {
                   &:hover {
                        color: #DD4F43;
                    }
               }
           }
           &:nth-child(6) {
               a {
                   &:hover {
                        color: #CB2027;
                    }
               }
           }
       }
   }
}
section#footer-topbar {
    height: 30px;
    background-color: #263238;
}