section#md-footer {
    height: 300px;
    width: 100%;
    background-image: url(../../../Img/bgfooter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #37474F;
    border-top: 1px dashed rgba(#455A64, .8);
    color: white !important;

    .about-dms {
        padding-left: 75px;
        padding-right: 55px;
        margin-top: 14px;
        p {
            color: #A5A2A2;
            font-size: 13px;
            line-height: 1.8;
        }
    }

    .find-us {
        padding-right: 65px;
        padding-left: 65px;
        h4 {
            margin-top: 30px;
            margin-bottom: 30px;
            @extend .section-header;
            @extend .text-center;
            font-weight: 300;
            font-size: 26px;
            color: #fff;
        }
        ul {
            padding-left: 0px;
            background-image: url(../../../Img/map.png);
            background-repeat: no-repeat;
            background-size: contain;
            li {
                color: #A5A2A2;
                font-size: 13px;
                line-height: 1.8;                
                list-style-type: none;
            }
        }
    }

    .newsletter-footer {
        h4 {
            margin-top: 16px;
            margin-bottom: 4px;
            @extend .section-header;
            @extend .text-center;
            font-weight: 300;
            font-size: 26px;
            color: #fff;
        }
    }
}

.newsletter-first {
    label {
        color: white;
    }
    input {
        background-color: #333;
        font-size: 14px;
        width: 130px;
        border-bottom: 1px solid white;
    }
}

section#footer-topbar {
    height: 30px;
    background-color: #263238;
}