section#gaspro-header-pic {
	text-align:center;
    background-color: rgba(8, 53, 123, 0.8);
	background-size: cover;
    background-image: url(../../../Img/oil2.jpg);
    background-position: center 25%;
    /*background-position: center center;
    background-repeat: no-repeat;*/
	/*background-attachment:fixed;*/
	box-shadow:0px 2px 10px rgba(0,0,0,0.15);
    height: 227px;
    .gaspro-header-overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0, .4);
        h2 {
            margin: 0px;
            padding-top: 50px;
            color: white;
            font-size: 64px;
            font-weight: 300;
        }
        div#thisThingIGuess {
            p {
                color: white;
                font-size: 24px;
                font-weight: 300;
            }
        }
    }
}

section#gaspro-navbar {
    padding-right: 23%;
    z-index: 40;
    @media (max-width: 955px) {
        padding-right: 0px
    }
    @media (max-width: 520px) {
        height: 86px;
    }
    height: 40px;
    background-color: rgba(8, 53, 123, 0.8);
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    ul {
        margin: 0px;
        li {
            margin-left: 25%;
            display: inline;
            list-style-type: none;
            @media(min-width: 1450px) {
                margin-left: 23%;
            }
            @media(min-width: 1630px) {
                margin-left: 20%;
            }
            @media(min-width: 1630px) {
                margin-left: 15%;
            }
            @media(min-width: 1630px) {
                margin-left: 10%;
            }
            @media (max-width: 955px) {
                margin-left: 0px;
            }
        }
    }
    .md-button {
        line-height: 30px;
        min-height: 10px;
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        margin-left: 0px;
        margin-right: 0px;
        &:first-child {
            @media(min-width: 1450px) {
                margin-left: 25%;
            }
            @media(min-width: 1630px) {
                margin-left: 30%;
            }
            @media(min-width: 1850px) {
                margin-left: 35%;
            }
            @media(min-width: 1850px) {
                margin-left: 40%;
            }
            float: left !important;
            font-size: 14px;
            font-weight: 500;
            margin-left: 20%;
        }
    }
}

.remove-display {
    display: block !important;
}

section#gaspro-navbar1 {
    display: none;
    padding-right: 23%;
    z-index: 40;
    @media (max-width: 955px) {
        padding-right: 0px
    }
    @media (max-width: 520px) {
        height: 86px;
    }
    height: 40px;
    background-color: rgba(8, 53, 123, 0.8) !important;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    ul {
        margin: 0px;
        li {
            margin-left: 25%;
            display: inline;
            list-style-type: none;
            @media(min-width: 1450px) {
                margin-left: 23%;
            }
            @media(min-width: 1630px) {
                margin-left: 20%;
            }
            @media(min-width: 1630px) {
                margin-left: 15%;
            }
            @media(min-width: 1630px) {
                margin-left: 10%;
            }
            @media (max-width: 955px) {
                margin-left: 0px;
            }
        }
    }
    .md-button {
        line-height: 30px;
        min-height: 10px;
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        margin-left: 0px;
        margin-right: 0px;
        &:first-child {
            @media(min-width: 1450px) {
                margin-left: 25%;
            }
            @media(min-width: 1630px) {
                margin-left: 30%;
            }
            @media(min-width: 1850px) {
                margin-left: 35%;
            }
            @media(min-width: 1850px) {
                margin-left: 40%;
            }
            float: left !important;
            font-size: 14px;
            font-weight: 500;
            margin-left: 20%;
        }
    }
}

.add-on-responsive {
    margin-left: 10%;
    margin-right: 10%;
}

section#gaspro-overview {
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 10px;
    div#textBoxSpacing {
        padding-top: 1%;
        padding-bottom: 1%;

            padding-left: 5%;
        h2 {
            @extend .section-header;
            font-size: 30px;
        }
        h5 {
            width: 100%;
            font-family: Roboto;
            font-weight: 500;
            color: #333;
            line-height: 1.5;
            font-size: 17px;
            margin: 0px;
        }
        p {
            width: 100%;
            font-family: Roboto;
            font-weight: 400;
            color: #333;
            line-height: 1.5;
            font-size: 14px;
            margin: 0px;
        }
        .md-button {
            margin-left: 20%;
            background-color: rgba(8, 53, 123, 0.8);
            color: #fff;
            @extend .text-center;
            @media (max-width: 600px) {
                margin-left: 5%;
            }
        }
    }
}

.gaspro-features-slider {
    p {
        @extend .para-content;
    }
}

/*section#gaspro-cta {
    -webkit-box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.75);
    height: 50px;
    background-color: $teal;
    p {
        @extend .text-center;
        color: #fff;
        font-weight: 300;
        font-size: 25px;
        margin: 0px;
        padding-top: 10px;
    }
}*/

section#gaspro-features {
    padding-bottom: 60px;
    padding-top: 30px;
    h2 {
        @extend .section-header;
        @extend .text-center;
        margin-top: 30px;
        padding-bottom: 3%;
    }
    h3 {
        @extend .text-center;
        font-size: 30px;
        font-weight: 300;
        color:#444444;
        border-bottom: 1px solid #eeeeee;
    }
    h4 {
        font-size: 24px;
        font-weight: 300;
        color:#444444;
    }
    h5 {
        @extend .section-subheader;
        @extend .text-center;
        border-bottom: 1px solid #eeeeee;
        font-size: 16px;
        padding-bottom: 12px;
    }

    md-card {
        @extend .card-shadow;
        &:nth-child(1) {

        }
    }

    .gaspro-features-slider-bold {
        font-size: 18px;
        font-weight: 400;
        color:#444444;
    }
}

.gaspro-parallax {
    background-image: url(../../../Img/gaspro/rig.jpg);
    background-size: cover;
    background-position: 40% 46%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
    .gaspro-overlay {
        height: 100%;
        width: 100%;    
        padding-bottom: 30px;
        background-image: url(../../../Img/solution-bg2-overlay.png);
        background-size: 100% 100%;
        .middle-margin {
            max-width: 100px;
        }
        .group-btn {
            font-size: 16px;
            margin: 20px 0;
            padding: 3px 15px 3px 15px;
            color: #424242;
            background-color: white;
            text-transform: none;
            font-weight: 400;
            min-width:100px;
        }
        .left-btn {
            border-radius: 3px 0 0 3px;
        }
        .middle-btn {
            border-radius: 0;
            border-left: 1px solid rgba(#E0E0E0, 0.96);
            border-right: 1px solid rgba(#E0E0E0, 0.96);
        }
        .right-btn {
            border-radius: 0 3px 3px 0;
        }
        .md-button:not([disabled]):hover {
            background-color: rgba(#E0E0E0, 0.96);
            color: rgba(#009688, 0.96);
            transition: 0.3s;
        }
        .md-button[disabled] {
            background-color: rgba(#757575, 0.96);
            color: rgba(#ffffff, 0.96);
        }
        h2 {
            @extend .section-header;
            @extend .text-center;
            padding-top: 30px;
            color: white;
        }
        h3 {
            @extend .text-center;
            font-size: 30px;
            font-weight: 300;
            color: white;
            margin-top: 5px;
            margin-bottom: -10px;
        }
        h4 {
            font-size: 24px;
            font-weight: 300;
            color: white;
            margin-bottom: -10px;
        }
        h5 {
            @extend .section-subheader;
            @extend .text-center;
            font-size: 16px;
            padding-top: 15px;
            padding-bottom: 15px;
            color: white;
        }
        p {
            color: white;
            font-weight: 300;
        }
    }
}

section#customization {
    padding-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    p {
        @extend .text-center;
        padding-left: 10%;
        padding-right: 10%;
    }
    img {
        margin-top: 20px;
    }
}

section#train-implement-cloud {
    margin-top: 30px;
    padding-bottom: 60px;
    img {
        @media(max-width: 600px) {
                margin-top: 50px;
        }
    }
    i {
        font-size: 72px;
        color: #424242;
    }
    h2 {
        font-size: 28px;
    }
    p {
        @extend .para-content;
        padding: 5%;
    }
    .md-button {

    }
}