/*.md-topbar {
    min-height: 30px !important;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    box-shadow: none;
    color: rgba(255, 255, 255, 0.76);
    .topbar {
        height: 30px;
        background-color: $primary-8;
        font-size: 12px;
        ul.left {
            padding-left: 7%;
            margin-top: 6px;
            text-align: left;
            li {
                display: inline;
                text-transform: uppercase;
                a {
                    color: rgba(255, 255, 255, 0.76);
                    text-decoration: none;
                    border-bottom: 0px solid cyan;
                    padding-bottom: 8px;
                    font-size: 12px;
                    transition: font-size .2s ease;
                    &:hover {
                        transition-duration: 2s;
                        transition-timing-function: linear;
                        transition: font-size .2s ease;
                        color: white; 
                        font-size: 16px;
                    }
                }
            }
        }
        ul.right {
            margin-top: 6px;
            text-align: right;
            padding-right: 7%;
            li {
                display: inline;
                text-transform: uppercase;
                a {
                    border-bottom: 0px solid black;
                    transition: border .2s ease;
                    &:hover {
                        transition-duration: 2s;
                        transition-timing-function: linear;
                        transition: border .2s ease;  
                        transition: width 0.25s, top 0.2s;
                        border-bottom: 2px solid $secondary-A2;
                        color: white;
                    }
                }
            }
        }
    }
}*/

.center-block {
  	display: block;
  	margin-right: auto;
  	margin-left: auto;
}
md-toolbar {
    min-height: 44px;
    background-color: transparent !important;
}

.remove-display {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75) !important;
    height: 44px !important;
    @media (max-width: 700px) {
        height: 75px !important;
    }
    @media (max-width: 370px) {
        height: 120px !important;
    }
    width: 100% !important;
    background-color: rgba(#fff, .82) !important;
    transition: all .2s ease-in;
    position:fixed;
    top:0;
    z-index: 1;
}

#sticky-header {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
        &:nth-child(1) {
            text-align: center;
            margin: 0px;
            li {
                display: inline;
                color: rgba(255, 255, 255, 0.76);
                font-size: 18px;
                padding: 0px;
                .md-button {
                    padding: 5px 40px 5px 40px;
                    border-bottom: 3px solid transparent;
                    transition: all .2s ease; 
                    margin:0px;
                    @media (min-width: 850px) {
                        &:hover {
                            img {
                                height: 30px;
                                -webkit-transition: all .2s;
                            }
                            border-bottom: 3px solid #009688;
                        }
                    }
                }
                img {
                    height: 26px;
                    margin: 0px;
                    margin-top: 2px;
                    -webkit-transition: all .2s;
                    @media (max-width: 850px) {
                        height: 20px;
                        margin-top: 8px;
                    }
                }
            }
        }
        &:nth-child(1) {
            li {
                display: inline;
                .md-button {
                    color: rgba(0, 0, 0, 0.75);
                    margin: 0px;
                    font-weight: 500;
                    height: 44px;
                    padding: 5px 24px 1px 24px;
                    /* HOVER OFF */
                    border-bottom: 3px solid transparent;
                    transition: border .2s ease;
                    @media (max-width: 850px) {
                        font-size: 12px;
                        padding: 0px 12px 1px 12px;
                        height: 10px;
                    }
                    &:hover {
                        transition-duration: 2s;
                        transition-timing-function: linear;
                        transition: border .2s ease;  
                        border-bottom: 3px solid #009688;
                        color: black;
                    }
                }
            }
        }
        &:nth-child(1) {
            margin: 0px;
            padding: 0px;
            li {
                display: inline;
                .md-button {
                    &:last-child {
                        margin: 0px;
                        color: rgba(0, 0, 0, 0.75);
                        transition: all .2s ease;
                        &:hover {
                            font-size: 24px;
                            color: black;
                            transition: font-size .2s ease;
                        }
                    }
                }
            }
        }
    }
}

.navbar {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75) !important;
    height: 44px;
    @media (max-width: 700px) {
        height: 75px;
    }
    @media (max-width: 370px) {
        height: 120px;
    }
    ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
        &:nth-child(1) {
            text-align: center;
            margin: 0px;
            li {
                display: inline;
                color: rgba(255, 255, 255, 0.76);
                font-size: 18px;
                padding: 0px;
                .md-button {
                    min-width: 30px !important;
                    padding: 5px 40px 5px 40px;
                    border-bottom: 3px solid transparent;
                    transition: all .2s ease; 
                    margin:0px;
                    @media (min-width: 850px) {
                        &:hover {
                            img {
                                height: 30px;
                                -webkit-transition: all .2s;
                            }
                            border-bottom: 3px solid #009688;
                        }
                    }
                }
                img {
                    @extend .center-block;
                    height: 26px;
                    margin: 0px;
                    margin-top: 2px;
                    -webkit-transition: all .2s;
                    @media (max-width: 850px) {
                        height: 20px;
                        margin-top: 8px;
                    }
                }
            }
        }
        &:nth-child(1) {
            li {
                display: inline;
                .md-button {
                    color: rgba(0, 0, 0, 0.75);
                    margin: 0px;
                    font-weight: 500;
                    height: 44px;
                    padding: 5px 24px 1px 24px;
                    /* HOVER OFF */
                    border-bottom: 3px solid transparent;
                    transition: border .2s ease;
                    @media (max-width: 850px) {
                        font-size: 12px;
                        padding: 0px 12px 1px 12px;
                        height: 10px;
                    }
                    &:hover {
                        transition-duration: 2s;
                        transition-timing-function: linear;
                        transition: border .2s ease;  
                        border-bottom: 3px solid #009688;
                        color: black;
                    }
                }
            }
        }
        &:nth-child(1) {
            margin: 0px;
            padding: 0px;
            li {
                display: inline;
                .md-button {
                    &:last-child {
                        margin: 0px;
                        color: rgba(0, 0, 0, 0.75);
                        transition: all .2s ease;
                        &:hover {
                            font-size: 24px;
                            color: black;
                            transition: font-size .2s ease;
                        }
                    }
                }
            }
        }
    }
}
.text-center {
    text-align: center;
}

.md-sidenav-left {
    background-color: #fff;
    padding: 0px;
    text-align: left !important;
    min-width: 800px;
    @media (max-width: 850px) {
        min-width: 100%;
    }
}