.md-topbar {
    min-height: 30px !important;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    box-shadow: none;
    color: rgba(255, 255, 255, 0.76);
    .topbar {
        height: 30px;
        background-color: $primary-8;
        font-size: 12px;
        ul.left {
            padding-left: 7%;
            margin-top: 6px;
            text-align: left;
            li {
                display: inline;
                text-transform: uppercase;
                a {
                    color: rgba(255, 255, 255, 0.76);
                    text-decoration: none;
                    border-bottom: 0px solid cyan;
                    padding-bottom: 8px;
                    font-size: 12px;
                    transition: font-size .2s ease;
                    &:hover {
                        transition-duration: 2s;
                        transition-timing-function: linear;
                        transition: font-size .2s ease;
                        color: white; 
                        font-size: 16px;
                    }
                }
            }
        }
        ul.right {
            margin-top: 6px;
            text-align: right;
            padding-right: 7%;
            li {
                display: inline;
                text-transform: uppercase;
                a {
                    /* HOVER OFF */
                    border-bottom: 0px solid black;
                    transition: border .2s ease;
                    &:hover {
                        transition-duration: 2s;
                        transition-timing-function: linear;
                        transition: border .2s ease;  
                        transition: width 0.25s, top 0.2s;
                        border-bottom: 2px solid $secondary-A2;
                        color: white;
                    }
                }
            }
        }
    }
}

.center-block {
  	display: block;
  	margin-right: auto;
  	margin-left: auto;
}



.navbar {
    -webkit-box-shadow: 0px 1px 4px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px -4px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px -4px rgba(0,0,0,0.3);

    background-color: $primary-7 !important;
    ul.left {
        text-align: right;
        padding-right: 7%;
        margin: 0px;
        li {
            display: inline;
            color: rgba(255, 255, 255, 0.76);
            font-size: 18px;
            padding: 0px;
            text-transform: uppercase;
            .md-button {
                padding: 24px 24px 17px 24px;
                margin:0px;
                &:hover {
                    img {
                        -webkit-filter: invert(0%);
                        height: 35px;
                        -webkit-transition: all .2s;
                    }
                }
            }
            img {
                height: 30px;
                margin: 0px;
                -webkit-filter: invert(15%);
                -webkit-transition: all .2s;
            }
        }
    }
    ul.right {
        text-align: right;
        padding-right: 7%;
        margin: 0px;
        li {
            .md-menu {

            }
            .md-button {
                padding: 0px;
                color: rgba(255, 255, 255, 0.75);
                margin: 0px;
                padding: 24px 24px 17px 24px;
                /* HOVER OFF */
                border-bottom: 4px solid transparent;
                transition: border .2s ease;
                &:hover {
                    transition-duration: 2s;
                    transition-timing-function: linear;
                    transition: border .2s ease;  
                    border-bottom: 4px solid $secondary-A2;
                    color: white;
                }
            }
            display: inline;
            color: rgba(255, 255, 255, 0.75);
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}
.text-center {
    text-align: center;
}