section#sub-navbar-overview {
    margin-bottom: 60px;
    background-color: rgba(242,242,242,0.6);
    height: 80px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    .md-button {
        margin-top: 2px;
        margin-left: 12px;
        margin-right: 12px;
        p {
            margin: 0px;
            line-height: 14px;
            font-size: 11px;
            font-weight: 400;
            color: #333;
            text-transform: none;
        }
        img {
            padding-top: 8px;
            height: 42px;
        }
    }
}

.fix-the-navbar {
    position: fixed;
    top: 0px;
    min-width: 100%;
}

section#product-overview {
    height: auto;
    padding-bottom: 60px;
    img {
        height: auto;
        width: 200px;
        @extend .center-block;
    }
    h2 {
        @extend .section-header;
        font-size: 28px;
        @extend .text-center;
    }
    .gaspro-card {
        .md-button {

        }
    }

    .gastrak-card {
    }

    .energypro-card {
    }

    .executiveView-card {
    }
}

