section#main-testimonials {
    padding-bottom: 30px;
    padding-top: 30px;
    h2 {
        @extend .section-header;
        @extend .text-center;
        margin-top: 30px;
    }

    h4 {
        @extend .section-subheader;
        @extend .text-center;
        border-bottom: 1px solid #eeeeee;
        font-size: 16px;
        padding-bottom: 12px;
    }
    .testimonials-slider {
        md-tabs {
        }
        md-content {
            border-bottom: 1px solid #ddd;
            padding-bottom: 50px;
            min-height: 700px;
            md-card {
                width: 500px;
                min-height: 210px;
                p {
                    padding-top: 10px;
                    margin-top: 16px;
                    color: #666666;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.5;
                }
                md-card-content {
                    padding-top: 0px;
                    padding-left: 50px;
                    @media(max-width: 600px) {
                        padding-left: 6px;
                    }
                    &:nth-child(4) {
                        font-style: italic;
                    }
                    p {
                        &:nth-child(2) {
                            padding-top: 0px; 
                        }
                        margin: 0px;
                        padding-left: 5%;
                    }
                }
            }
            img {
                padding: 8px;
                @extend .center-block;
                height: 150px;
                width: 150px;
                min-width: 150px;
                max-width: 150px;
            }
        }
    }
}

body, html {
    -webkit-box-direction: normal; 
    -webkit-box-orient: vertical; 
}

@media all and (-ms-high-contrast: none) {
    md-tabs-canvas.md-center-tabs {
        // This is normally 'center' but we need to turn it off so the tabs aren't invisible.
        text-align: left;
    }

    // The following correctly aligns the tabs to the center.
    md-pagination-wrapper.md-center-tabs {
        width: 100%;
        text-align: center;
    }
}