<section id="sub-navbar-overview">
    <md-button>
        <img src="../../../Img/consulting.png" alt="consulting" style="max-width: 60px; max-height: 60px;"/>
        <p>Consulting</p>
    </md-button>
    <md-button>
        <img src="../../../Img/accounting.png" alt="Accounting" style="max-width: 60px; max-height: 60px;"/>
        <p>Accounting</p>
    </md-button>
    <md-button>
        <img src="../../../Img/implementation.png" alt="Implementation" style="max-width: 60px; max-height: 60px;"/>
        <p>Implementation</p>
    </md-button>
    <md-button>
        <img src="../../../Img/training.png" alt="Training" style="max-width: 60px; max-height: 60px;"/>
        <p>Training</p>
    </md-button>
</section>