<section id="sub-navbar-overview" class="animated flipInX">
    <md-button class="animated fadeIn" ng-click="vm.goToElement('consulting-section');">
        <img src="../../../Img/navbar-icons/account-multiple.png" alt="consulting" style="max-width: 60px; max-height: 60px;"/>
        <p>Consulting</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('accounting-section');">
        <img src="../../../Img/navbar-icons/cash-multiple.png" alt="Administration" style="max-width: 60px; max-height: 60px;"/>
        <p>Administration</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('implementation-section');">
        <img src="../../../Img/navbar-icons/clipboard-check.png" alt="Implementation" style="max-width: 60px; max-height: 60px;"/>
        <p>Implementation</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('training-section');">
        <img src="../../../Img/navbar-icons/school.png" alt="Training" style="max-width: 60px; max-height: 60px;"/>
        <p>Training</p>
    </md-button>
</section>

<section id="sub-navbar-overview1">
    <md-button class="animated fadeIn" ng-click="vm.goToElement('consulting-section');">
        <img src="../../../Img/navbar-icons/account-multiple.png" alt="consulting" style="max-width: 60px; max-height: 60px;" />
        <p>Consulting</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('accounting-section');">
        <img src="../../../Img/navbar-icons/cash-multiple.png" alt="Accounting" style="max-width: 60px; max-height: 60px;" />
        <p>Accounting</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('implementation-section');">
        <img src="../../../Img/navbar-icons/clipboard-check.png" alt="Implementation" style="max-width: 60px; max-height: 60px;" />
        <p>Implementation</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('training-section');">
        <img src="../../../Img/navbar-icons/school.png" alt="Training" style="max-width: 60px; max-height: 60px;" />
        <p>Training</p>
    </md-button>
</section>

<section class="container" id="services-overview" layout="row" layout-wrap ng-controller="NavBarController as vm">
    <div class="overview-content" flex="100">
        <h2 class="section-header text-center">Our Services</h2>
        <p>Using our Services, DMS' clients report temendous benefits and cost savings from reductions in time, effort and resources required to operate their business. Avoid paying salaries, taxes, health benefits, pensions and office space for in-house staff by outsourcing your needs to the specialized and skilled team at DMS.</p>
    </div>

    <div class="services-container" flex="100" layout="row" layout-wrap>
        <div class="services-img" flex="50" hide-md hide-sm>
            <img class="img-responsive center-block animated slideInLeft" src="../../../Img/consulting.png" alt="Consulting" />
        </div>
        <div class="services-content" id="consulting-section" flex="50" flex-md="100" flex-sm="100">
            <h2 class="text-center section-header">Consulting</h2>
            <img hide-gt-md class="img-responsive center-block animated slideInLeft" style="height: 250px; margin-bottom: 30px;" src="../../../Img/consulting.png" alt="Consulting" />
            <p>We boast a team of individuals with education and experience in forensic and gas accounting, computer science, economics, finance, marketing, supply-chain and advanced mathematics.<br /><br />

DMS uses this extensive industry knowledge and education to give your operation the edge it needs to stay ahead of the curve. We are ready to solve any complex trading, scheduling, connectivity or accounting issues your business is facing.<br /> <br/>

                <md-button class="md-raised md-primary" aria-label="Accounting Contact Us" ng-click="vm.openContactUs();">Contact us today for pricing inquiries.</md-button></p>
        </div>
    </div>
    <div class="services-container" flex="100" layout="row" layout-wrap id="accounting-section">
        <div class="services-content" flex="50" flex-md="100" flex-sm="100">
            <h2 class="text-center section-header">Administration</h2>
            <img hide-gt-md style="height: 250px; margin-bottom: 30px;" class="img-responsive center-block animated slideInRight" src="../../../Img/accounting.png" alt="Administration" />
            <p>What if you could focus on the bread and butter of your business, while the painstaking accounting, compliance and reporting took care of itself?<br/> <br />

                With DMS' Front-to-Back Office Administration services, you can leave your tedious scheduling or complicated accounting with industry experts who know exactly what you need. You no longer need to host an army of in-house staff to greatly expand your operation with DMS at your disposal.
                <br /> <br />
<md-button class="md-raised md-primary" aria-label="Accounting Contact Us" ng-click="vm.openContactUs();">Contact us for more information.</md-button></p>
        </div>
        <div class="services-img" flex="50" hide-md hide-sm>
            <img class="img-responsive center-block animated slideInRight" src="../../../Img/accounting.png" alt="Accounting" />
        </div>
    </div>
    <div class="services-container" flex="100" layout="row" layout-wrap id="implementation-section">
        <div class="services-img" flex="50" hide-md hide-sm>
            <img class="img-responsive center-block animated slideInLeft" src="../../../Img/implementation.png" alt="Implementation" />
        </div>
        <div class="services-content" flex="50" flex-md="100" flex-sm="100">
            <h2 class="text-center section-header">Implementation</h2>
            <img hide-gt-md style="height: 250px; margin-bottom: 30px;"  class="img-responsive center-block animated slideInLeft" src="../../../Img/implementation.png" alt="Implementation" />
            <p>So many systems require a staffed army of IT personnel and consultants to simply *begin* using a system, much less maintain and use it without constant speed bumps. <br /> <br />

DMS offers implementation services to complement our systems to get you on the right start - fast. We load your data, trades, who you do business with, contracts - everything you need to get up and running your business seamlessly. <br /> <br />

                <md-button class="md-raised md-primary" aria-label="Accounting Contact Us" ng-click="vm.openContactUs();">Contact us for more information.</md-button></p>
        </div>
    </div>
    <div class="services-container" flex="100" layout="row" layout-wrap id="training-section">
        <div class="services-content" flex="50" flex-md="100" flex-sm="100">
            <h2 class="text-center section-header" id="training-heading">Systems Training</h2>
            <img hide-gt-md style="height: 250px; margin-bottom: 30px;" class="img-responsive center-block animated slideInRight" src="../../../Img/training.png" alt="Training" />
            <p>Email. Phone. Online. Onsite.<br /> <br />

Any training your organization needs to expand your operation using GasPro, GasTrak or any of our products, DMS has it covered. We help you improve your current processes and greatly expand your business's reach - before, during and after implementation. <br /> <br />

                <md-button class="md-raised md-primary" aria-label="Accounting Contact Us" ng-click="vm.openContactUs();">Contact us for more information.</md-button></p>
        </div>
        <div class="services-img" flex="50" hide-md hide-sm>
            <img class="img-responsive center-block animated slideInRight" src="../../../Img/training.png" alt="Training" />
        </div>
    </div>
</section>

<section id="contact-us-services" ng-controller="NavBarController as vm">
    <img src="../../../Img/shadowdmslogo_small2.png" alt="Alternate Text" class="img-responsive center-block" style="height: 30px;" />
    <h4 class="section-header text-center" style="margin: 0px;">Contact Us Today!</h4>
    <p class="text-center">To learn more about our services, products, pricing <br />or to request a demo please contact us.</p>
    <md-button class="center-block md-raised md-primary" aria-label="Services Contact Us" ng-click="vm.openContactUs();">Click Here</md-button>
</section>

<script>
    $(window).bind('scroll', function () {
        if ($(window).scrollTop() > 40) {
            $("#sub-navbar-overview").addClass("fix-the-navbar");
            $("#sub-navbar-overview1").addClass("show-fixed-nav");
        } else {
            $("#sub-navbar-overview").removeClass("fix-the-navbar");
            $("#sub-navbar-overview1").removeClass("show-fixed-nav");
        }
    });
</script>
