<section id="sub-navbar-overview">
    <md-button>
        <img src="../../../Img/consulting.png" alt="consulting" style="width: 60px; height: 60px;"/>
        <p>Consulting</p>
    </md-button>
    <md-button>
        <img src="../../../Img/accounting.png" alt="Accounting" style="width: 60px; height: 60px;"/>
        <p>Accounting</p>
    </md-button>
    <md-button>
        <img src="../../../Img/implementation.png" alt="Implementation" style="width: 60px; height: 60px;"/>
        <p>Implementation</p>
    </md-button>
    <md-button>
        <img src="../../../Img/trophy.png" alt="Training" style="width: 60px; height: 60px;"/>
        <p>Training</p>
    </md-button>
</section>