<section id="gastrak-header-pic" class="animated flipInX">
    <div class="gastrak-header-overlay">
        <h2 class="section-header">GasTrak Online</h2>
        <p class="section-subheader">The New and Revolutionary Approach of Providing a Proven and Affordable ETRM Solution.</p>
    </div>
</section>

<section id="gastrak-navbar" class="animated flipInY" layout="row">
    <ul flex="100" class="container">
        <li>
            <md-button hide-sm hide-md class="about-header" ui-sref="about">GasTrak</md-button>
            <md-button href="#ourMission">Overview</md-button>
            <md-button href="#ourHistory">Features</md-button>
            <md-button href="#theIndustry">Compliance</md-button>
            <md-button href="#university">Build Your Solution</md-button>
            <md-button href="" ng-click="vm.openContactUs();">Contact Us</md-button>
        </li>
    </ul>
</section>


<section id="gastrak-overview">

</section>