<section id="gastrak-header-pic" class="animated fadeInLeftBig">
    <div class="gastrak-header-overlay">
        <h2 class="section-header">GasTrak Online</h2>
        <p class="section-subheader">The New and Revolutionary Approach to Providing a Proven and Affordable ETRM Solution.</p>
    </div>
</section>

<section id="gastrak-navbar" class="animated fadeInRightBig" layout="row">
    <ul flex="100" class="container">
        <li>
            <md-button hide-sm hide-md class="about-header" ui-sref="about">GasTrak</md-button>
            <md-button href="#ourMission">Overview</md-button>
            <md-button href="#ourHistory">Features</md-button>
            <md-button href="#theIndustry">Compliance</md-button>
            <md-button href="#university">Build Your Solution</md-button>
            <md-button href="" ng-click="vm.openContactUs();">Contact Us</md-button>
        </li>
    </ul>
</section>

<div class="gastrak-features-bg">
    <section id="gastrak-overview" class="container" layout="row" layout-wrap>
        <div flex="66" flex-md="100" flex-sm="100" class="ms-display-template">
            <div class="ms-display-cont">
                <img src="../../../../Content/desktop-style/display.png" class="ms-display-bg" />
                <div class="ms-dis-slider-cont">
                    <div class="master-slider ms-skin-default" id="masterslider">
                        <div class="ms-slide">
                            <img src="../../../../Content/masterslider/style/blank.gif" data-src="../../../Img/gaspro/gaspro-slider/img/gaspro1.png" alt="lorem ipsum dolor sit" />
                        </div>
                        <div class="ms-slide">
                            <img src="../../../../Content/masterslider/style/blank.gif" data-src="../../../Img/gaspro/gaspro-slider/img/gaspro2.png" alt="lorem ipsum dolor sit" />
                        </div>
                        <div class="ms-slide">
                            <img src="../../../../Content/masterslider/style/blank.gif" data-src="../../../Img/gaspro/gaspro-slider/img/gaspro3.png" alt="lorem ipsum dolor sit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex="33" flex-md="100" flex-sm="100" class="gastrak-desc">
            <h2 class="text-center section-header">GasTrak Overview</h2>
            <p class="para-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </section>
</div>

<section class="container" id="gaspro-features" layout="row" layout-wrap>
        <h2 flex="100">GasPro's Unique Features</h2>
        <div flex="100" class="gaspro-features-slider" layout="row" layout-wrap>
            <div flex="100">
                <md-tabs md-stretch-tabs="auto" md-center-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Source Info">
                        <md-content class="md-padding gaspro-features-slider" layout="row" layout-align="center start" layout-wrap>
                            <h3 flex="100">Source Information</h3>
                            <div flex="5"></div>
                            <div flex="50" flex-md="100" flex-sm="100">
                                <md-card>
                                    <img src="../../../Img/gaspro/features/gaspro-features-sourceinfo-cropped.png" class="img-responsive" alt="">
                                </md-card>
                            </div>
                            <div flex="5"></div>
                            <div flex="35" flex-md="100" flex-sm="100">
                                <p class="para-content">
                                    DMS’ GoLive implementation process is designed for the client, to provide a path and a process for gathering information on Legal Entities, Point of Location, Contracts, Categories and User Defined Transaction Tracking, Chart of Accounts, Account Links, and data that is needed to successfully manage transactions within GasPro.
                                </p>
                            </div>
                            <div flex="5"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Trading">
                        <md-content class="md-padding gaspro-features-slider" layout="row" layout-align="center start" layout-wrap>
                            <h3 flex="100">Trading</h3>
                            <div flex="5"></div>
                            <div flex="50" flex-md="100" flex-sm="100">
                                <md-card>
                                    <img src="../../../Img/gaspro/features/gaspro-features-trading-cropped.jpg" class="img-responsive" alt="">
                                </md-card>
                            </div>
                            <div flex="5"></div>
                            <div flex="35" flex-md="100" flex-sm="100">
                                <p class="para-content">
                                    GasPro provides several easy-to-use physical and financial trading tools, from screens that track daily deals, allow multiple simultaneous updates, and help manage your available swing volumes, to an easy to use hedge function. The Trading section has all the tools your traders will need including Confirmations and Position Management.
                                </p>
                            </div>
                            <div flex="5"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Scheduling/Balances">
                        <md-content class="md-padding gaspro-features-slider" layout="row" layout-align="center start" layout-wrap>
                            <h3 flex="100">Scheduling &amp; Balances</h3>
                            <div flex="5"></div>
                            <div flex="35" flex-md="100" flex-sm="100">
                                <p class="para-content">
                                    GasPro provides an array of scheduling tools, including screens that track transactions from pipeline and/or point level views. Schedulers have all the information they need to make quick and timely scheduling decisions, including real-time volumetric MDQ, imbalance, and storage positions. With our EDI nominations process transmitting the scheduling information is just a click away.
                                </p>
                            </div>
                            <div flex="5"></div>
                            <div flex="50" flex-md="100" flex-sm="100">
                                <md-card>
                                    <img src="../../../Img/gaspro/features/gaspro-features-scheduling-cropped.jpg" class="img-responsive" alt="Scheduling and Balances Screen">
                                </md-card>
                            </div>
                            <div flex="5"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Actuals">
                        <md-content class="md-padding gaspro-features-slider" layout="row" layout-align="center start" layout-wrap>
                            <h3 flex="100">Actuals</h3>
                            <div flex="5"></div>
                            <div flex="50" flex-md="100" flex-sm="100">
                                <md-card>
                                    <img src="../../../Img/gaspro/features/gaspro-features-actuals-cropped.png" class="img-responsive" alt="">
                                </md-card>
                            </div>
                            <div flex="5"></div>
                            <div flex="35" flex-md="100" flex-sm="100">
                                <p class="para-content">
                                    GasPro provides powerful, yet easy to use tools for actualizing and re-allocating your volumes. From screens that allow you to setup pre-determined allocations, to daily and/or monthly allocations, GasPro has all the tools to make the actualization process simple.
                                </p>
                            </div>
                            <div flex="5"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Compliance">
                        <md-content class="md-padding gaspro-features-slider" layout="row" layout-align="center start" layout-wrap>
                            <h3 flex="100">Compliance</h3>
                            <div flex="5"></div>
                            <div flex="35" flex-md="100" flex-sm="100">
                                <p class="gaspro-features-slider-bold">
                                    The GasPro system is designed to accommodate controls and reporting changes brought about by new clients, industry changes, and regulatory requirements.  With over 16 years of providing its clients with the audit information required to comply with their individual, and at times unique audit requirements, DMS has proven its ability to meet the FERC, FAS, and SOX controls and reporting mandates.
                                </p>
                                <h4>Limits</h4>
                                <p>
                                    Enhanced Credit Limit tracking/reporting with the ability to export information to an external Credit Scoring system. Ability to manually set Credit scores and limits. Ability to define Trader Limits by dollars, transactions, net position, etc., and the ability to establish Management Overrides.
                                </p>
                                <h4>Tolerances</h4>
                                <p>
                                    Define operating tolerances with the ability to create email notifications/alerts to multiple parties whenever a tolerance is exceeded.
                                </p>
                                <h4>Auditing</h4>
                                <p>
                                    New Super Auditors (by section) capable of tracking any change made to any field for any reason. Compares what was actually modified to the change reason provided. Created based on our Ad Hoc functionality to allow for a multitude of search criteria.
                                </p>
                                <h4>Policies</h4>
                                <p>
                                    Ability to define and store various policies in GasPro allowing for easy verification during trading periods.
                                </p>
                            </div>
                            <div flex="5"></div>
                            <div flex="50" flex-md="100" flex-sm="100">
                                <md-card>
                                    <img src="../../../Img/gaspro/features/gaspro-features-compliance-cropped.jpg" class="img-responsive" alt="">
                                </md-card>
                                <h4>Security</h4>
                                <p>
                                    Enhanced User Security taking control beyond the screen level all the way down to functionality within a given screen. Also the ability to create User Groups for easy maintenance and configuration of multiple users.
                                </p>
                                <h4>Alerts</h4>
                                <p>
                                    Notification system using either internal GasPro emails, external emails, or both to provide information on situations that need action. This will include such issues as exceeding tolerances, exceeding limits, exceeding MDQ, out-of-balance situations, new transactions available to link, and notifications based on timeliness of information input.
                                </p>
                                <h4>Training</h4>
                                <p>
                                    DMS is implementing a video training system where users will be able to access a website and navigate to a short (5-10 min) video containing detailed information about various aspects of the GasPro system. A Knowledge Base is also being implemented to aid in researching methods other clients have used to perform certain business tasks.
                                </p>
                            </div>
                            <div flex="5"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Accounting">
                        <md-content class="md-padding gaspro-features-slider" layout="row" layout-align="center start" layout-wrap>
                            <h3 flex="100">Accounting</h3>
                            <div flex="5"></div>
                            <div flex="50" flex-md="100" flex-sm="100">
                                <md-card>
                                    <img src="../../../Img/gaspro/features/gaspro-features-accounting-cropped.jpg" class="img-responsive" alt="Accounting Screen">
                                </md-card>
                                <h4>Accounts Receivable</h4>
                                <p>
                                    GasPro tracks and maintains your current accounts receivable position. Based on Cash received and posted, it will determine your current 30/60/90 day agings and has the ability to upload this information to corporate level accounting systems.
                                </p>
                                <h4>Invoices</h4>
                                <p>
                                    GasPro calculates and creates all invoices in real-time allowing you to bill all your customers on a timely basis.
                                </p>
                                <h4>Cash</h4>
                                <p>
                                    GasPro allows you to receive and post cash directly from the system with the ability to upload this information to a corporate level accounting system.
                                </p>
                                <h4>GL Entries</h4>
                                <p>
                                    GasPro allows for manual Gl adjustments to be made which provides a more robust accounting system capable of tracking your transactions at any level your corporation requires.
                                </p>
                            </div>
                            <div flex="5"></div>
                            <div flex="35" flex-md="100" flex-sm="100">
                                <p class="gaspro-features-slider-bold">
                                    The GasPro accounting process is fully automatic. Every transaction entered by the Front Office is captured and seamlessly recorded in the gas accounting system within GasPro. The process can be extended to flow the information to a corporate financial system. GasPro provides advanced functionality to record, control, and analyze every accounting transaction.
                                </p>
                                <h4>Rates/Indexes</h4>
                                <p>
                                    GasPro provides a very powerful Rate Calculator which maintains all pricing information required by any transaction. This calculator is capable of handling complex pricing including collars, tierings, multi-level component rates, flats, spots, higher/lower, averages, index plus, etc. GasPro also tracks both monthly and daily indexes for use in rate calculations.
                                </p>
                                <h4>Accounts Payable</h4>
                                <p>
                                    GasPro tracks and maintains your current accounts payable position. Based on Payments scheduled and posted, it will determine your current 30/60/90 day agings and has the ability to upload this information to corporate level accounting systems.
                                </p>
                                <h4>Vouchers</h4>
                                <p>
                                    GasPro calculates all vouchers in real-time allowing you to easily track and verify any invoices you receive from 3rd parties which will considerably reduce the time required to reconcile.
                                </p>
                                <h4>Payments</h4>
                                <p>
                                    GasPro allows you to schedule, authorize and process payments directly from the system with the ability to upload this information to a corporate level accounting system.
                                </p>
                            </div>
                            <div flex="5"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Reporting">
                        <md-content class="md-padding gaspro-features-slider" layout="row" layout-align="center start" layout-wrap>
                            <h3 flex="100">Reporting</h3>
                            <div flex="5"></div>
                            <div flex="35" flex-md="100" flex-sm="100">
                                <p class="gaspro-features-slider-bold">
                                    GasPro provides the most powerful user defined ad hoc query and reporting tools in the industry.  In addition to the ad hoc reports, GasPro also has over 150 pre-defined reports that cover all the standard reporting functions. Many of these pre-defined reports also have multi-select filtering and user-defined sorts and subtotals.
                                </p>
                                <h4>Ad Hoc Reports</h4>
                                <p>
                                    In each major section of GasPro, an Ad Hoc style report has been created to allow the user to create very complex and customized queries that they can both run and save (to be run again at a later time). These reports all have multi-select capabilities on numerous filters, plus user-defined sorts and subtotals. The combination of all these filters and sorts provides the user with the capability to create over 5,000 different report configurations (per GasPro section). All of the ad hoc reports also have the capability to extract their results via a standard CSV file format (which can be easily read by Excel, Lotus, Access, etc.)
                                </p>
                                <h4>MDQ Available</h4>
                                <p>
                                    GasPro tracks your current MDQ position in real-time and provides a graphical display showing the Total MDQ, the volumes that have been released, the volumes scheduled and the remaining MDQ. Scheduled volumes are also broken down by transaction type (firm, interruptible, pooling, etc.) A simple double-click on any part of the graph will display the detailed report behind the numbers.
                                </p>
                                <h4>Variances</h4>
                                <p>
                                    GasPro maintains and tracks point level variances for both scheduling and actuals. Detailed reports with simple double-click drill down capability, make it easy to determine exactly where and why any variances occur. Views are provided at the pipeline and at the point level and both views provide both a daily and a monthly selection.
                                </p>
                            </div>
                            <div flex="5"></div>
                            <div flex="50" flex-md="100" flex-sm="100">
                                <md-card>
                                    <img src="../../../Img/gaspro/features/gaspro-features-reporting-cropped.jpg" class="img-responsive" alt="Reporting Screen">
                                </md-card>
                                <h4>Balanced Position</h4>
                                <p>
                                    GasPro tracks your current balance position (both Storage and Imbalance) on a pipeline, contract and point basis. A graphical display is created to show total balances, change in balance by day and percentage of total balance by type (standard, oba, 3rd party, etc.)
                                </p>
                                <h4>Rate View</h4>
                                <p>
                                    GasPro provides a graphical chart of two user-selected rates allowing for a quick visual determination of which pricing would be the better choice at any given time.
                                </p>
                                <h4>Credit Limits</h4>
                                <p>
                                    GasPro maintains and tracks the current Credit Limit exposure by 3rd party in real-time. Each time a transaction is entered the appropriate credit limit is updated and tracked. Detailed reports with double-click drill down allow you to easily track and determine the credit limit of any entity at any time.
                                </p>
                                <h4>Predefined Reports</h4>
                                <p>
                                    In addition to the ad hoc reports, GasPro also has over 150 pre-defined reports that cover all the standard reporting functions. Many of these pre-defined reports also have multi-select filtering and user-defined sorts and subtotals.
                                </p>
                            </div>
                            <div flex="5"></div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </section>

<div class="gaspro-parallax" style="background-image: url(../../../../Img/tech3.jpg)" flex="100" ng-controller="gasproController as vm">
    <div class="gaspro-overlay">
        <h2 flex="100">GasPro’s Amazing Functionality</h2>
        <div class="md-actions" layout="row" layout-align="center center">
            <div flex="10"></div>
            <div flex="80"><h5>GasPro has been successfully serving all business segments in the Gas industry since the early 90’s by providing a truly seamless, user friendly solution from deal capture through financial statements. GasPro also provides the unique functionality required to succeed in the Production Services Market, Middle Market, and Local Distribution Market.</h5></div>
            <div flex="10"></div>
        </div>
        <div class="md-actions" layout="row" layout-align="center center">
            <md-button class="md-raised" ng-click="vm.goToProductionServices();">Production Services</md-button>
            <md-button class="md-raised" ng-click="vm.goToMiddleMarketing();">Middle Marketing</md-button>
            <md-button class="md-raised" ng-click="vm.goToLocalDistribution();">Local Distribution</md-button>
        </div>
        <!--<div class="md-actions" layout="row" layout-align="center center">
            <div flex="10"></div>
            <div flex="80"><h5>GasPro has been successfully serving all business segments in the Gas industry since the early 90’s by providing a truly seamless, user friendly solution from deal capture through financial statements. GasPro also provides the unique functionality required to succeed in the {{vm.ending}}.</h5></div>
            <div flex="10"></div>
        </div>-->
        <div>
            <div ng-show="vm.showProductionServices" class="add-on-responsive" layout="row" layout-align="center start" layout-wrap>
                <h3 flex="100">Production Services</h3>
                <div flex="10"></div>
                <div flex="35" flex-md="100" flex-sm="100">
                    <h4>CDP Allocations</h4>
                    <p>
                        GasPro has the ability to associate wells with a Central Delivery Point (CDP). Scheduled volumes entered at these wellhead locations are automatically transferred to the CDP for pipeline scheduling. Actual volumes at the CDP are then automatically allocated back to the wellhead suppliers based on the percentage of scheduled volumes.
                    </p>
                    <h4>Processing Plants</h4>
                    <p>
                        The ability to schedule volumes through processing plants can be done on a multiple wellhead basis. The system automatically calculates the residue volumes, taking into account: bypass, transport fuel, PTR, and plant fuel volumes. This residue gas can now be scheduled to storage or to its ultimate use.
                    </p>
                    <h4>Plant Actuals</h4>
                    <p>
                        The GasPro Plant Actuals module facilitates the true-up of the scheduled volumes and PTR estimates to the plant statement information. The plant liquid units and the associated revenues are then accounted for appropriately depending on the recipient of the plant proceeds.
                    </p>
                </div>
                <div flex="10" class="middle-margin"></div>
                <div flex="35" flex-md="100" flex-sm="100">
                    <h4>Netbacks</h4>
                    <p>
                        The Netback functionality within GasPro gives the user the ability to calculate the purchase price of the supply gas based on its ultimate sales price, less any basis costs, without having to re-enter any additional deal information. This netback feature also has the ability to pre-assign supplies to designated deliveries.
                    </p>
                    <h4>Taxes / Fees</h4>
                    <p>
                        GasPro’s Tax/Fee functionality allows for the entry and the tracking of the simplest to most complex tax or fee calculation. This functionality allows the tax or fee to be associated with a specific counter party, location, or contract. Whether they are a flat rate, percentage of volume, or on an ad valorem basis, GasPro can do it all.
                    </p>
                    <h4>SCADA / Interfaces</h4>
                    <p>
                        GasPro has the ability to interface with SCADA and other proprietary interfaces that allow the flow of information directly into GasPro, eliminating the need to enter this data manually.
                    </p>
                </div>
                <div flex="10"></div>
            </div>
            <div ng-show="vm.showMiddleMarketing" class="add-on-responsive" layout="row" layout-align="center start" layout-wrap>
                <h3 flex="100">Middle Marketing</h3>
                <div flex="10"></div>
                <div flex="35" flex-md="100" flex-sm="100">
                    <h4>Trading</h4>
                    <p>
                        GasPro easily manages the most complex trading transactions via a comprehensive set of processes designed to capture and enhance profitability. Other features that set GasPro apart are its real-time MDQ, ICE/Clearport interface, and Platts interface.
                    </p>
                    <h4>Scheduling</h4>
                    <p>
                        The GasPro solution includes an easy to use scheduling tool that provides for the effortless movement of gas across interconnects. The system has been successfully transmitting nomination files to the major pipelines via the industry’s only native Pipeline EDI solution since 1995.
                    </p>
                    <h4>Complex Pricing</h4>
                    <p>
                        GasPro has a powerful Rate Calculator which handles the calculation of complex deal pricing: keepwholes, collars, tiered, multi-level component rates, flat rates, and spot rates. GasPro also has a Platts interface allowing for the automatic upload of published prices.
                    </p>
                </div>
                <div flex="10" class="middle-margin"></div>
                <div flex="35" flex-md="100" flex-sm="100">
                    <h4>Real-Time Position Reporting</h4>
                    <p>
                        The Position Report provides a real-time view of long and short positions in summary or detail. The report assists the analyst in understanding the current real-time position within the various pricing categories (fixed, first of month, spot) for a given moment/day/specified period. It also includes the ability to show a balanced system by adding the required long or short volumes at a predefined “Balancing Rate”.
                    </p>
                    <h4>Hedging</h4>
                    <p>
                        The Trader has quick access to the hedge trading screen within GasPro. GasPro has the ability to capture hedge deals and associate them to physical deals on a one-to-many and many-to-one basis. There is an easy to use deal entry process for hedging financial transactions, including futures, monthly swaps, daily swaps, and options (NYMEX/OTC). The system also includes Industry standard reports for tracking physicals-hedged-to-financial deals, daily hedging activities, tracking profit/loss positions, MtM reports and a powerful financial deals ad hoc are included.
                    </p>
                </div>
                <div flex="10"></div>
            </div>
            <div ng-show="vm.showLocalDistribution" class="add-on-responsive" layout="row" layout-align="center start" layout-wrap>
                <h3 flex="100">Local Distribution</h3>
                <div flex="10"></div>
                <div flex="35" flex-md="100" flex-sm="100">
                    <h4>Jurisdictional Cost Accounting</h4>
                    <p>
                        GasPro has the ability to accurately capture and automatically allocate gas costs across multiple jurisdictions based on percentage, physical flow, and/or predefined parameters. This feature eliminates the tremendous burden of manually allocating the supply cost to the point of receipt.
                    </p>
                    <h4>Derivatives</h4>
                    <p>
                        The system provides the functionality required to capture physical forwards and financial deals (futures, options, and swaps, etc.). The system also provides a rich suite of reporting tools that facilitate the real-time tracking of MtM Positions and their related unrealized gains or losses on a full or discounted basis.
                    </p>
                    <h4>Risk Management</h4>
                    <p>
                        GasPro automatically captures all exposure transactions throughout the system and consolidates them into one powerful risk analysis query / ad hoc that presents real-time exposure and liquidity positions. This very important tool provides the user with the needed information to ensure that the company’s risk tolerance policy is enforced.
                    </p>
                </div>
                <div flex="10" class="middle-margin"></div>
                <div flex="35" flex-md="100" flex-sm="100">
                    <h4>Asset Optimization</h4>
                    <p>
                        As utility companies leverage under-utilized assets (transport & storage capacities) through asset optimization efforts, the GasPro system is equipped to support asset optimization through tracking, accounting, and reporting on all transactions. Once the profits have been automatically calculated they are ready to be distributed to the participating profit centers.
                    </p>
                    <h4>Compliance</h4>
                    <p>
                        GasPro is a comprehensive software product that provides the best seamless transaction capture, process controls, and reporting of results throughout the gas management process. The system has been structured and designed to capture all processes and data required to accommodate the most stringent compliance and reporting requirements.
                    </p>
                </div>
                <div flex="10"></div>
            </div>
        </div>
    </div>
</div>

<section class="container" id="customization" style="margin-bottom: 0px; border: none;" layout="column" layout-align="center center" layout-wrap>
    <h2 class="section-header">Customization</h2>
    <p class="para-content">
        While GasPro is seamless and powerful right off the shelf, we understand that your operation may have specific, complex requirements.<br />
        <b>DMS is here to make sure that GasPro meets ALL of your needs.</b>
        <br /><br />We can customize, enhance, tailor and create entirely new GasPro features to automate and grow your business.
    </p>
    <md-button class="md-raised md-primary" aria-label="Accounting Contact Us" ng-click="vm.openContactUs();">Contact us for product and enhancement inquiries</md-button>
    <img class="center-block img-responsive" src="http://www.dms-online.co/wp-content/uploads/2014/11/slide-61.png" alt="Alternate Text" />
</section>

<div class="gastrak-cloud-bg">
    <section id="train-implement-cloud" class="container text-center" layout="row" layout-wrap style="margin-top: 0px; padding-top: 30px;">
        <h2 flex="100" class="section-header" style="font-size: 42px; margin-bottom: 30px;">Setup</h2>
        <div flex="33" flex-md="100" flex-sm="100">
            <i class="fa fa-laptop"></i>
            <h2 class="section-header">Implementation</h2>
            <p>
                DMS prides itself on its 100% Implementation Success Rate for GasPro systems. In an average of 150 days, we get you completely up and running -  trading, invoicing, reporting and accounting, fast. DMS prepares your organizatoin for success from Day 1.
            </p>
            <md-button class="md-raised md-primary" aria-label="Accounting Contact Us" href="/services#implementation-section">Learn More</md-button>
        </div>
        <div flex="33" flex-md="100" flex-sm="100">
            <i class="fa fa-cloud"></i>
            <h2 class="section-header">Cloud</h2>
            <p>
                Our systems are 100% Internet Hosted and backed up with Cloud technology. We house our systems in armed-guard-secured, redundantly powered, fire retardant and geographically separate buildings. Access your data from anywhere. Uptime is the name of our game.
            </p>
            <md-button class="md-raised md-primary" aria-label="Cloud Contact Us" ng-click="vm.openContactUs();">Learn More</md-button>
        </div>
        <div flex="33" flex-md="100" flex-sm="100">
            <i class="fa fa-graduation-cap"></i>
            <h2 class="section-header">Training</h2>
            <p>
                Using GasPro to its fullest potential is essential when looking to automate and grow your business. We offer in-house, online, video and other training packages catered to fit your specific needs. We keep your personnel sharp from Day 1 to Year 10.
            </p>
            <md-button class="md-raised md-primary" aria-label="Accounting Contact Us" href="/services#training-section">Learn More</md-button>
        </div>
    </section>
</div>
    <script>
        $(window).bind('scroll', function () {
            if ($(window).scrollTop() > 255) {
                $("#gastrak-navbar").addClass("fix-the-navbar");
            } else {
                $("#gastrak-navbar").removeClass("fix-the-navbar");
            }
        });
    </script>

    <div ng-include="'/app/components/contact/smallContactUs.html'"></div>
    <script type="text/javascript">


        var slider = new MasterSlider();
        slider.setup('masterslider', {
            width: 507,
            height: 286,
            speed: 20,
            preload: 0,
            space: 2,
            view: 'flow'
        });
        slider.control('arrows');
        slider.control('bullets', { autohide: false });

    </script>
