body, html {
	font-family: "Roboto", sans-serif !important;
	background-color: white;
	-webkit-font-smoothing: antialiased;
}

body {
    @-moz-document url-prefix() {
        min-height: 0%;
        height: 0%;
    }
}

.ms-tabs-slider .ms-view {
    background: #fff;
}

#masterslider > div > div > div.ms-view.ms-stack-view {
    background: #fff;
}
