body, html {
	font-family: "Roboto", sans-serif !important;
	background-color: white;
	-webkit-font-smoothing: antialiased;
}

.ms-tabs-slider .ms-view {
    background: #fff;
}

#masterslider > div > div > div.ms-view.ms-stack-view {
    background: #fff;
}
