$primary-5: #607D8B;
$primary-7: #00376D;
$primary-8: #042D54;
$primary-9: #263238;
$secondary-3: #E57373;
$secondary-4: #EF5350;
$secondary-5: #F44336;
$secondary-6: #E53935;
$secondary-A1: #FF8A80;
$secondary-A2: #E53935;
$secondary-A4: #FF1744;
$secondary-A7: #D50000;
$nav-text: #717171;

.center-block {
  	display: block;
  	margin-right: auto;
  	margin-left: auto;
}

.img-responsive {
	display: block;
  	max-width: 100%;
  	height: auto;
}
