<section id="contactUs" layout="row" layout-wrap ng-controller="contactController as vm">
    <div flex="100">
        <h2>Contact Us</h2>
        <h4>Send us a quick message and we'll get in touch</h4>
    </div>
    <div flex="100" flex-gt-md="33">
        <img style="margin-top: 50px;" class="img-responsive" src="../../../Img/contact/cloud.png" alt="Cloud Solutions" />
        <p>Don't hesitate to contact us for any questions or requests for demos. This goes straight to humans and we will reach out to you upon receipt shortly.</p>
    </div>
    <div flex="100" flex-gt-md="66">
        <md-card>
            <md-card-content layout-padding>
                <div ng-show="vm.sentForm">
                    <h2 class="section-header text-center">Thank you for contacting us!</h2>
                    <img src="../../../Img/contact/logo.png" style="margin-top: 20px;" class="center-block" alt="DMS Logo">
                    <h4 class="section-subheader text-center">We will get back with you shortly.</h4>
                </div>
                <form name="home-contact-us" ng-hide="vm.sentForm">
                    <div class="md-actions" layout="row" layout-align="space-between center">
                        <div>
                            <h5>Dear DMS,</h5>
                        </div>
                        <div></div>
                        <md-button class="md-icon-button md-accent">
                            <md-tooltip>
                                Clear Form
                            </md-tooltip>
                            <i class="fa fa-eraser"></i>
                        </md-button>
                    </div>
                    <div layout="row" layout-wrap>
                        <md-input-container flex="50" flex-sm="100">
                            <label>Name</label>
                            <input ng-required="true" ng-model="vm.requestInfo.name" type="text">
                        </md-input-container>
                        <md-input-container flex="50" flex-sm="100">
                            <label>Topic</label>
                            <md-select ng-model="vm.requestInfo.topic">
                                <md-option value="Products">Products</md-option>
                                <md-option value="Services">Services</md-option>
                                <md-option value="Education">Education</md-option>
                                <md-option value="Demo">Demo</md-option>
                                <md-option value="Other">Other</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="vm.requestInfo.email" type="email" ng-required="true">
                    </md-input-container>
                    <md-input-container>
                        <label>Message</label>
                        <textarea ng-required="true" ng-model="vm.requestInfo.message" rows="3" columns="5" md-maxlength="1000"></textarea>
                    </md-input-container>
                </form>
                <p ng-repeat="error in vm.errorRequest" style="text-align: center; color: #F44336; font-size: 14px;">
                    {{error}}
                </p>
                <div class="md-actions" layout="row" layout-align="space-between center" ng-hide="vm.sentForm">
                    <div></div>
                    <md-button ng-click="vm.sendRequest();">
                        <md-tooltip>
                            Send Message
                        </md-tooltip>
                        <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/svg/send.svg" alt="Alternate Text" />
                        <!--<i class="fa fa-paper-plane"></i>-->
                    </md-button>
                    <div class="sincerely">
                        <h5 style="padding-top: 20px; padding-left: 10px; font-size: 16px; font-weight: 300; color: #999999; margin: 0px;" ng-show="vm.requestInfo.name">Sincerely,</h5>
                        <h5 style="padding-top: 4px; padding-left: 10px; font-size: 16px; font-weight: 300; color: #999999; margin: 0px;">{{vm.requestInfo.name}}</h5>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

</section>