<style>
    md-backdrop {
        position: fixed;
    }
</style>
<md-sidenav md-component-id="right" class="md-sidenav-right" style="padding: 40px; position: fixed;">
    <section style="width: 100%; padding: 0px;" id="contactUs-sidenav" layout="row" layout-wrap ng-controller="contactController as vm">
        <div flex="100">
            <h2 class="section-header text-center">Contact Us</h2>
        </div>
        <div flex="100" style="padding: 0px;">
            <md-button class="md-primary md-raised" ng-click="vm.closeSideNav();">Close&nbsp; <i class="fa fa-times-circle"></i></md-button>
        </div>
        <div flex="100" style="padding: 0px;">
            <md-card style="margin-top: 20px;">
                <md-card-content layout-padding>
                    <form name="home-contact-us">
                        <div class="md-actions" layout="row" layout-align="space-between center">
                            <div>
                                <h5 style="padding-top: 20px; padding-left: 10px; font-size: 16px; font-weight: 300; color: #999999; margin: 0px;">Dear DMS,</h5>
                            </div>
                            <div></div>
                            <md-button class="md-icon-button md-accent">
                                <md-tooltip>
                                    Clear Form
                                </md-tooltip>
                                <i class="fa fa-eraser"></i>
                            </md-button>
                        </div>
                        <div layout="row" style="padding: 0px; text-align: left;">
                            <md-input-container flex>
                                <label>Name</label>
                                <input ng-required="true" ng-model="vm.requestInfo.name" type="text" md-sidenav-focus>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Topic</label>
                                <md-select ng-model="vm.requestInfo.topicId">
                                    <md-option value="Products">Products</md-option>
                                    <md-option value="Services">Services</md-option>
                                    <md-option value="Education">Education</md-option>
                                    <md-option value="Demos">Demos</md-option>
                                    <md-option value="Others">Others</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-input-container style="text-align: left;">
                            <label>Email</label>
                            <input ng-model="vm.requestInfo.email" type="email" ng-required="true">
                        </md-input-container>
                        <md-input-container style="text-align: left;">
                            <label>Message</label>
                            <textarea ng-required="true" ng-model="vm.requestInfo.message" rows="3" columns="5" md-maxlength="1000"></textarea>
                        </md-input-container>
                    </form>
                    <div class="md-actions" layout="row" layout-align="space-between center">
                        <div></div>
                        <md-button>
                            <md-tooltip>
                                Send Message
                            </md-tooltip>
                            <img ng-click="vm.sendRequest();" class="center-block img-responsive" style="height: 65px;" src="../../../Img/send.png" alt="Alternate Text" />
                            <!--<i class="fa fa-paper-plane"></i>-->
                        </md-button>
                        <div>
                            <h5 style="padding-top: 20px; padding-left: 10px; font-size: 16px; font-weight: 300; color: #999999; margin: 0px;" ng-show="vm.requestInfo.name">Sincerely,</h5>
                            <h5 style="padding-top: 4px; padding-left: 10px; font-size: 16px; font-weight: 300; color: #999999; margin: 0px;">{{vm.requestInfo.name}}</h5>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

    </section>
</md-sidenav>
