<style>
    md-backdrop {
        position: fixed;
    }
</style>
<md-sidenav md-component-id="right" class="md-sidenav-right" style="padding: 40px; position: fixed;">
    <section style="width: 100%; padding: 0px;" id="contactUs-sidenav" layout="row" layout-wrap ng-controller="contactController as vm">
        <div flex="66">
            <h2 class="section-header" style="text-align: right;">Contact Us</h2>
        </div>
        <div flex="33">
            <md-button class="md-fab md-mini" style="background-color: #D0372C;" ng-click="vm.closeSideNav();"><i class="fa fa-times"></i></md-button>
        </div>
        <div flex="100" style="padding: 0px;">
            <md-card style="margin-top: 20px;">
                <md-card-content layout-padding>
                    <div ng-show="vm.sentForm">
                        <h2 class="section-header text-center">Thank you for contacting us!</h2>
                        <h4 class="section-subheader text-center">We will get back with you shortly.</h4>
                        <img src="../../../Img/shadowdmslogo_small2.png" style="margin-top: 20px;" class="center-block" alt="DMS Logo">
                    </div>
                    <form name="home-contact-us" ng-hide="vm.sentForm">
                        <div class="md-actions" layout="row" layout-align="space-between center">
                            <div>
                                <h5 style="padding-top: 20px; padding-left: 10px; font-size: 16px; font-weight: 300; color: #999999; margin: 0px;">Dear DMS,</h5>
                            </div>
                            <div></div>
                            <md-button class="md-icon-button md-accent">
                                <md-tooltip>
                                    Clear Form
                                </md-tooltip>
                                <i class="fa fa-eraser"></i>
                            </md-button>
                        </div>
                        <div layout="row" style="padding: 0px; text-align: left;">
                            <md-input-container flex>
                                <label>Name</label>
                                <input ng-required="true" ng-model="vm.requestInfo.name" type="text" md-sidenav-focus>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Topic</label>
                                <md-select ng-model="vm.requestInfo.topic">
                                    <md-option value="Products">Products</md-option>
                                    <md-option value="Services">Services</md-option>
                                    <md-option value="Education">Education</md-option>
                                    <md-option value="Demo">Demo</md-option>
                                    <md-option value="Other">Other</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-input-container style="text-align: left;">
                            <label>Email</label>
                            <input ng-model="vm.requestInfo.email" type="email" ng-required="true">
                        </md-input-container>
                        <md-input-container style="text-align: left;">
                            <label>Message</label>
                            <textarea ng-required="true" ng-model="vm.requestInfo.message" rows="3" columns="5" md-maxlength="1000"></textarea>
                        </md-input-container>
                    </form>
                    <div class="md-actions" layout="row" layout-align="space-between center" ng-hide="vm.sentForm">
                        <div></div>
                        <md-button>
                            <md-tooltip>
                                Send Message
                            </md-tooltip>
                            <img ng-click="vm.sendRequest();" class="center-block img-responsive" style="height: 65px;" src="../../../Img/send.png" alt="Alternate Text" />
                            <!--<i class="fa fa-paper-plane"></i>-->
                        </md-button>
                        <div>
                            <h5 style="padding-top: 20px; padding-left: 10px; font-size: 16px; font-weight: 300; color: #999999; margin: 0px;" ng-show="vm.requestInfo.name">Sincerely,</h5>
                            <h5 style="padding-top: 4px; padding-left: 10px; font-size: 16px; font-weight: 300; color: #999999; margin: 0px;">{{vm.requestInfo.name}}</h5>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
   </section>
</md-sidenav>
