<section id="small-inPage" ng-controller="NavBarController as vm">
    <div class="container">
        <img src="../../../Img/contact/logo.svg" alt="Alternate Text" class="img-responsive center-block" style="height: 30px;" />
        <h4 class="section-header text-center" style="margin: 0px;">Contact Us Today!</h4>
        <p class="text-center">To learn more about our services, products, pricing <br />or to request a demo please contact us.</p>
        <md-button class="center-block md-raised md-primary" aria-label="Services Contact Us" ng-click="vm.openContactUs();">Click Here</md-button>
    </div>
</section>