<section id="sub-navbar-overview" class="">
    <md-button class="animated fadeIn" ng-click="vm.goToElement('consulting-section');">
        <img src="../../../Img/education/navbar/seminars.png" alt="Seminars" style="max-width: 60px; max-height: 60px;" />
        <p>Seminars</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('accounting-section');">
        <img src="../../../Img/education/navbar/conferences.png" alt="Conferences" style="max-width: 60px; max-height: 60px;" />
        <p>Conferences</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('implementation-section');">
        <img src="../../../Img/education/navbar/online.png" alt="Online Certification" style="max-width: 60px; max-height: 60px;" />
        <p>Online Certification</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('training-section');">
        <img src="../../../Img/education/navbar/uh-logo.png" alt="College Courses" style="max-width: 60px; max-height: 60px;" />
        <p>College Courses</p>
    </md-button>
</section>

<section id="sub-navbar-overview1">
    <md-button class="animated fadeIn" ng-click="vm.goToElement('consulting-section');">
        <img src="../../../Img/education/navbar/seminars.png" alt="Seminars" style="max-width: 60px; max-height: 60px;" />
        <p>Seminars</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('accounting-section');">
        <img src="../../../Img/education/navbar/conferences.png" alt="Conferences" style="max-width: 60px; max-height: 60px;" />
        <p>Conferences</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('implementation-section');">
        <img src="../../../Img/education/navbar/online.png" alt="Online Certification" style="max-width: 60px; max-height: 60px;" />
        <p>Online Certification</p>
    </md-button>
    <md-button class="animated fadeIn" ng-click="vm.goToElement('training-section');">
        <img src="../../../Img/education/navbar/uh-logo.png" alt="College Courses" style="max-width: 60px; max-height: 60px;" />
        <p>College Courses</p>
    </md-button>
</section>

<section class="container" id="services-overview" layout="row" layout-wrap ng-controller="NavBarController as vm">
    <div class="overview-content" flex="100">
        <h2 class="section-header text-center">Education Overview</h2>
        <p>Educating your personnel is an incredible way to keep your operation sharp and proactive. DMS brings you immediate results through our in-house seminars, regional conferences and online certifications.</p>
    </div>

    <div class="services-container" flex="100" layout="row" layout-wrap>
        <div class="services-content" id="consulting-section" flex="50" flex-md="100" flex-sm="100">
            <h2 class="text-center section-header">Onsite Seminars</h2>
            <img hide-gt-md class="img-responsive center-block" style="height: 250px; margin-bottom: 30px;" src="../../../Img/education/presenter.png" alt="Presenter" />
            <p>
                Keeping your traders, schedulers, accountants and financial personnel up to speed on best practices is crucial for a growing business.<br /> <br />

                DMS physically brings the education to your organization. Whether you're looking to solidify and sharpen your group's knowledge, or expand to entirely new fields, we have you covered. We can cover topics as broad and general as you want, or as complex and specific as you need. <br /> <br />

                <md-button class="md-raised md-primary" aria-label="Accounting Contact Us" ng-click="vm.openContactUs();">Please contact us for more information.</md-button>
            </p>
        </div>
        <div class="services-img" flex="50" hide-md hide-sm>
            <img class="img-responsive center-block animated slideInRight" src="../../../Img/education/presenter.png" alt="Presenter" />
        </div>
    </div>
    <div class="services-container" flex="100" layout="row" layout-wrap id="accounting-section">
        <div class="services-img" flex="50" hide-md hide-sm>
            <img class="img-responsive center-block animated slideInLeft" src="../../../Img/education/conference.png" alt="Conferences" />
        </div>
        <div class="services-content" flex="50" flex-md="100" flex-sm="100">
            <h2 class="text-center section-header">Conferences</h2>
            <img hide-gt-md style="height: 250px; margin-bottom: 30px;" class="img-responsive center-block" src="../../../Img/education/conference.png" alt="Conferences" />
            <p>
                Our conferences are a great way to brush up on your industry knowledge and network with other professionals.<br /> <br />

                We cover topics specific to trading, scheduling, accounting and even current issues and opportunities the industry as a whole is facing. DMS brings this information to you in an interactive, energetic and engaging way, perfect for brushing up on your knowledge while having a great time with your peers.
                <br /> <br />
                <md-button class="md-raised md-primary" aria-label="Accounting Contact Us" ng-click="vm.openContactUs();">Contact us for more information.</md-button>
            </p>
        </div>
    </div>
    <div class="services-container" flex="100" layout="row" layout-wrap id="implementation-section">
        <div class="services-content" flex="50" flex-md="100" flex-sm="100">
            <h2 class="text-center section-header">Online Certifications</h2>
            <img hide-gt-md style="height: 250px; margin-bottom: 30px;" class="img-responsive center-block" src="../../../Img/education/online.png" alt="Learn Online" />
            <p>
                Need to show to potential employers that you know the ins and outs of the gas industry? Looking to grow your knowledge from your own area of expertise to an industry-wide view?<br /> <br />

                Our Online Certification course would be perfect for you. In it, we combine a hard-hitting series of lectures, excel-models and lab exercises using our own ETRM systems. We cover trading, scheduling, transport, storage, processing, accounting, risk management as well as the industry's physical infrastructure.<br /> <br />

                Coming Soon - 2017<br /> <br />

                <md-button class="md-raised md-primary" aria-label="Accounting Contact Us" ng-click="vm.openContactUs();">Sign up for our newsletter for updates.</md-button>
            </p>
        </div>
        <div class="services-img" flex="50" hide-md hide-sm>
            <img class="img-responsive center-block animated slideInRight" src="../../../Img/education/online.png" alt="Learn Online" />
        </div>
    </div>
    <div class="services-container" flex="100" layout="row" layout-wrap id="training-section">
        <div class="services-img" flex="50" hide-md hide-sm>
            <img class="img-responsive center-block animated slideInLeft" src="../../../Img/education/uh-logo.png" alt="University of Houston" />
        </div>
        <div class="services-content" flex="50" flex-md="100" flex-sm="100">
            <h2 class="text-center section-header">College Courses</h2>
            <img hide-gt-md style="height: 250px; margin-bottom: 30px;" class="img-responsive center-block" src="../../../Img/education/uh-logo.png" alt="University of Houston" />
            <p>
                Frank Pena, CEO of DMS, has taught an upper-level course dedicated to Energy Trading Systems at UH since 2010. The course has primarily reached Supply Chain, Finance, MIS and Accounting majors as well as MIS graduate students.<br /> <br />

                Since 2010, the course has grown from 16 to 185+ students per semester. We cover the ins and outs of the industry and tell the story of gas from wellhead to end-user.<br /> <br />

                If you happen to be a UH student, take our course! We would love to have you. We are looking to expand to other colleges such as Rice, A&M and UT. <br /> <br />

                <md-button class="md-raised md-primary" aria-label="Accounting Contact Us" ng-click="vm.openContactUs();">Contact us for more information.</md-button>
            </p>
        </div>
    </div>
</section>

<div ng-include="'/app/components/contact/smallContactUs.html'"></div>

<script>
    //$(window).bind('scroll', function () {
    //    if ($(window).scrollTop() > 40) {
    //        $("#sub-navbar-overview").addClass("fix-the-navbar");
    //        $("#sub-navbar-overview1").addClass("show-fixed-nav");
    //    } else {
    //        $("#sub-navbar-overview").removeClass("fix-the-navbar");
    //        $("#sub-navbar-overview1").removeClass("show-fixed-nav");
    //    }
    //});
</script>
