<section id="gaspro-navbar-overview">
    <md-button ui-sref="gaspro">
        <img src="../../../Img/gaspro.png" alt="GasPro" style="max-width: 60px; max-height: 60px;" />
        <p>GasPro</p>
    </md-button>
    <md-button ui-sref="gaspro">
        <img src="../../../Img/gtocloud.png" alt="GasTrak" />
        <p>GasTrak</p>
    </md-button>
    <md-button ui-sref="gaspro">
        <img src="http://demo.fifothemes.com/gallaxy/img/icons/corporate-solutions.png" alt="EnergyPro" />
        <p>EnergyPro</p>
    </md-button>
    <md-button ui-sref="gaspro">
        <img src="http://demo.fifothemes.com/gallaxy/img/icons/email-marketing.png" alt="EnergyPro" />
        <p>Executive View</p>
    </md-button>
</section>

<section id="gaspro-navbar" layout="row">
    <ul flex="100" class="container">
        <li>
            <md-button hide-sm hide-md class="gaspro-header" ui-sref="gaspro"><img src="../../../Img/gaspro_white.png" alt="GasPro" style="max-width: 60px; max-height: 25px;" />  GasPro</md-button>
            <md-button href="#gaspro-features">Features</md-button>
            <md-button href="#gaspro-customization">Customization</md-button>
            <md-button href="" ng-click="vm.openContactUs();">Contact Us</md-button>
        </li>
    </ul>
</section>

<section class="container" id="gaspro-overview" layout="row" layout-wrap>
    <div flex="100" style="min-height: 60px;"></div>
    <div flex="30">
        <div flex="100" style="min-height: 60px;"></div>
        <p>For over 16 years, GasPro systems have been successfully implemented on time and within budget. Data Management Solutions (DMS) is proud of their 100% successful implementation record that they have been able to maintain, and is one of the few, if not the only, solution provider that can make this claim.</p>
        <div flex="100" style="min-height: 30px;"></div>
        <p>The GasPro implementation process is quick, easy and takes approximately 150 days. DMS is ready, willing, and able to provide as much assistance as needed to ensure success.</p>
    </div>
    <div flex="70">
        <div class="rev_slider_wrapper">
            <!-- START REVOLUTION SLIDER 5.0 -->
            <div id="slider1" class="rev_slider" data-version="5.0" style="min-height: 500px;">
                <!-- START REVOLUTION SLIDER -->
                <ul>
                    <li data-transition="fade">
                        <!-- MAIN IMAGE -->
                        <img src="../../../Img/gaspro_slider01.png" alt="">
                    </li>
                    <li data-transition="fade">
                        <!-- MAIN IMAGE -->
                        <img src="../../../Img/gaspro_slider02.png" alt="">
                    </li>
                    <li data-transition="fade">
                        <!-- MAIN IMAGE -->
                        <img src="../../../Img/gaspro_slider03.png" alt="">
                    </li>
                    <li data-transition="fade">
                        <!-- MAIN IMAGE -->
                        <img src="../../../Img/gaspro_slider04.png" alt="">
                    </li>
                </ul>
            </div><!-- END REVOLUTION SLIDER -->
        </div><!-- END OF SLIDER WRAPPER -->
        <script>
            //jQuery(document).ready(function() {
            //   jQuery("#slider1").revolution({
            //      sliderType:"slider",
            //      sliderLayout:"auto",
            //      delay:9000,
            //      navigation: {
            //          arrows:{enable:true}
            //      },
            //      gridwidth:1440,
            //      gridheight:700
            //    });
            //});
        </script>
    </div>
</section>

<section class="animated slideInUp" id="gaspro-cta">
    <p>The Complete Gas Management Solution</p>
</section>

<section class="container" id="gaspro-features" layout="row" layout-wrap>
    <h2 flex="100">What Makes GasPro Unique?</h2>
    <div flex offset="20"></div>
    <h4 flex="60">Tagline here....</h4>
    <div flex offset="20"></div>
    <div flex="100" class="gaspro-features-slider" layout="row" layout-wrap>
        <div flex="100">
            <md-tabs md-stretch-tabs="always" md-dynamic-height md-border-bottom>
                <md-tab label="Source Info">
                    <md-content class="md-padding gaspro-features-slider" layout="row" layout-wrap>
                        <h2 flex="100">Source Information</h2>
                        <div flex="40">
                            <p>
                                DMS’ GoLive implementation process is designed for the client, to provide a path and a process for gathering information on Legal Entities, Point of Location, Contracts, Categories and User Defined Transaction Tracking, Chart of Accounts, Account Links, and data that is needed to successfully manage transactions within GasPro.
                            </p>
                        </div>
                        <div flex="60">
                            <md-card>
                                <img src="../../../Img/gaspro-features-sourceinfo.jpg" class="img-responsive" alt="">
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Trading">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Efficiency</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img5.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"We’ve had GasPro for over 10 years. The software is seamless; its all-in-one design lets us roll over the information throughout the company from department to department. It allows our processes to flow and it ties us all together. Every month we invoice over 3,000 clients and the software allows us to do all our invoices in a single day. This single source tracking allows us to conduct more business with the same-sized staff and the time savings allows us to focus on other aspects of our business."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas marketing for producer clients/gas sales services to end users</p>
                                    <p>- 3,000 monthly clients</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img6.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"The system handles our needs and more. Our CEO is demanding, mandating that we get compliance reports out; without them you just can’t operate. Handling FERC, SOX and FAS requirements is GasPro’s strength and strong suit. GasPro allows these report requirements to be met easily. We’re a small shop, and that requires that everyone be multi-purposed. GasPro is compact; we get high leverage from it. We can get a lot of business done with the system."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Public utility holding company</p>
                                    <p>- Over 1.5 billion in gas costs annually</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img7.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"You enter your deal information only once. From there, it is then accessible and in a useable format that is available in an industry acceptable manner. It is an electronic database that allows a single point of entry… but from there we can do everything we need for our business, credit, accounting and deals. We are almost paperless. We can telecommute."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Distributor/Marketer</p>
                                    <p>- 2.5 billion annual sales</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img2.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"We are streamlined. GasPro has allowed us to increase our volume of transactions without having to increase our staff. We can have scalability without increasing hires. It allows us to put our attention and effort on other aspects of our business."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Midstream marketer</p>
                                    <p>- 1.9 billion annual cost</p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Scheduling/Balances">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Responsive</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img5.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"DMS is 100% responsive. They know the industry and they know the system. The web based feature is really great, one of the best things is that we can go remote. We are looking forward to the next User Group Forum where we can learn from each other."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Public utility holding company</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img6.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"They answer their phones. They are accessible, we’re not lost in someone else’s IT department. You get the attention you need, when you need it."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Midstream marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img7.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"They know the business. They built the software around this knowledge, and they take care of us immediately when we have a need. They are our business partner."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas distributor and marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img2.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"GasPro is dependable and worry free. DMS works very well for us. They are always there, offer rapid response and are easy to access. They do what they say; they have never let me down."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas marketing/gas sales services</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img7.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"They absolutely do what they say. On a scale of 1 to 10 the DMS client support is a 9.5. They are like our business partner. They don’t have to spend time figuring out how to understand your problem, they are already working on the solution because they know the business. I like the User Group Forum; we give our input, enhancements are made and shared in new releases. It’s a partnership."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas management/marketing firm</p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Actuals">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Endorsement</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img5.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"Yes, I do support and endorse GasPro openly. I’ll show prospects what the system does for us. When DMS grows, that’s good for us too."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Midstream marketer</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img6.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Yes, I have recommended GasPro to others and I’ll do it again. I think DMS built the system right from day one. It’s been there from the beginning. I wouldn’t say GasPro changed our culture, but it did change how we work. As a 20-person shop, we just became better at what we already knew how to do."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas management/marketing firm</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img7.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Yes I recommend GasPro, it’s a cut above the rest."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Gas marketing/gas sales services</p>
                                </md-card-content>
                            </md-card>
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img2.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"Word of mouth is the best way to market them. The system is dependable, maintenance free and a great value. Yes, I’ll endorse the company and the software."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Wholesale purchaser, distributor, marketer</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img7.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80">
                                    <p>"GasPro has top of the line performance. It’s a great value over the long haul, and I endorse it."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Public Utility Company</p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Compliance">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Compliance</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img5.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"The ability to respond to the SOX, FAS and FERC reporting requirements is critical, and that’s a great value for us. You have to get this right, there is no maybe, it is mandated now and GasPro allows these requirements to be met easily."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Major Midwest Local Distribution Company</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap style="width: 100% !important">
                                <md-card-content flex="100">
                                    <h2>FERC, FAS and Sarbanes - Oxley Compliance</h2>
                                    <p>
                                        DMS’ GasPro system is architected and designed to accommodate controls and reporting changes brought about by new clients, industry changes, and regulatory requirements. With over 15 years of providing its clients with the audit information required to comply with their individual, and at times unique, audit requirements DMS has proven its ability to meet the FERC, FAS, and SOX controls and reporting mandates.
                                        <br /><br />
                                        The creation of the Sarbanes Oxley Act (SOX) caused no architectural changes in GasPro. DMS has always understood the importance of our clients’ data integrity and its safekeeping, and GasPro was designed based on Generally Accepted Accounting Principles (GAAP), our expertise of the gas industry, and a high level of process and data security. When SOX arrived in 2002/03, our clients simply asked us to provide the type of information for their audits that eventually ended up becoming what SAS 70 - Type II compliance requires today. Our clients have been passing their audits for over 15 years and GasPro has been passing the audits as well.
                                        <br /><br />
                                        The architecture of the GasPro system facilitates the compliance with changing FERC requirements (www.ferc.gov), FAS statements (www.fasb.org), and Sarbanes Oxley mandates (www.soxlaw.com) with ease.
                                    </p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Accounting">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Compliance</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img5.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"The ability to respond to the SOX, FAS and FERC reporting requirements is critical, and that’s a great value for us. You have to get this right, there is no maybe, it is mandated now and GasPro allows these requirements to be met easily."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Major Midwest Local Distribution Company</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap style="width: 100% !important">
                                <md-card-content flex="100">
                                    <h2>FERC, FAS and Sarbanes - Oxley Compliance</h2>
                                    <p>
                                        DMS’ GasPro system is architected and designed to accommodate controls and reporting changes brought about by new clients, industry changes, and regulatory requirements. With over 15 years of providing its clients with the audit information required to comply with their individual, and at times unique, audit requirements DMS has proven its ability to meet the FERC, FAS, and SOX controls and reporting mandates.
                                        <br /><br />
                                        The creation of the Sarbanes Oxley Act (SOX) caused no architectural changes in GasPro. DMS has always understood the importance of our clients’ data integrity and its safekeeping, and GasPro was designed based on Generally Accepted Accounting Principles (GAAP), our expertise of the gas industry, and a high level of process and data security. When SOX arrived in 2002/03, our clients simply asked us to provide the type of information for their audits that eventually ended up becoming what SAS 70 - Type II compliance requires today. Our clients have been passing their audits for over 15 years and GasPro has been passing the audits as well.
                                        <br /><br />
                                        The architecture of the GasPro system facilitates the compliance with changing FERC requirements (www.ferc.gov), FAS statements (www.fasb.org), and Sarbanes Oxley mandates (www.soxlaw.com) with ease.
                                    </p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Reporting">
                    <md-content class="md-padding testimonials-slider" layout="row" layout-wrap>
                        <h2 flex="100">Compliance</h2>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap>
                                <img flex="20" src="http://htmlstream.com/preview/unify-v1.8/assets/img/testimonials/img5.jpg" class="img-circle img-responsive" alt="image caption">
                                <md-card-content flex="80" style="padding-bottom: 0px;">
                                    <p>"The ability to respond to the SOX, FAS and FERC reporting requirements is critical, and that’s a great value for us. You have to get this right, there is no maybe, it is mandated now and GasPro allows these requirements to be met easily."</p>
                                </md-card-content>
                                <div flex offset="20"></div>
                                <md-card-content flex="80" layout="column" layout-align="start start">
                                    <p>Major Midwest Local Distribution Company</p>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <md-card layout="row" layout-wrap style="width: 100% !important">
                                <md-card-content flex="100">
                                    <h2>FERC, FAS and Sarbanes - Oxley Compliance</h2>
                                    <p>
                                        DMS’ GasPro system is architected and designed to accommodate controls and reporting changes brought about by new clients, industry changes, and regulatory requirements. With over 15 years of providing its clients with the audit information required to comply with their individual, and at times unique, audit requirements DMS has proven its ability to meet the FERC, FAS, and SOX controls and reporting mandates.
                                        <br /><br />
                                        The creation of the Sarbanes Oxley Act (SOX) caused no architectural changes in GasPro. DMS has always understood the importance of our clients’ data integrity and its safekeeping, and GasPro was designed based on Generally Accepted Accounting Principles (GAAP), our expertise of the gas industry, and a high level of process and data security. When SOX arrived in 2002/03, our clients simply asked us to provide the type of information for their audits that eventually ended up becoming what SAS 70 - Type II compliance requires today. Our clients have been passing their audits for over 15 years and GasPro has been passing the audits as well.
                                        <br /><br />
                                        The architecture of the GasPro system facilitates the compliance with changing FERC requirements (www.ferc.gov), FAS statements (www.fasb.org), and Sarbanes Oxley mandates (www.soxlaw.com) with ease.
                                    </p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</section>

<section class="container" id="gaspro-customization" layout="row" layout-wrap>
    <h3>Customization</h3>
</section>

<script>
    $(window).bind('scroll', function () {
        if ($(window).scrollTop() > 100) {
            $("#gaspro-navbar").addClass("fix-the-navbar");
        } else {
            $("#gaspro-navbar").removeClass("fix-the-navbar");
        }
    });
</script>

<div ng-include="'/app/components/contact/inPageContactUs.html'"></div>
<div ng-include="'/app/components/contact/sidenavContactUs.html'"></div>
