<div class="row">
    <div class="col-md-12 text-center" style="margin-bottom: 10px; margin-top: 10px;">
        <a class="btn btn-danger btn-fill" ng-click="vm.getTradeData();">Reload Trades</a>
        <a class="btn btn-danger btn-fill" ng-click="vm.getMarketData();">Load Market Data</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Hub Name</th>
            <th>Side</th>
            <th>ProductName</th>
            <th>MMBTUs</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="trade in vm.trades.Trade" class="{{($index + 1) % 2 == 0 ? 'success' : 'success lessSuccess'}}">
            <th scope="row">{{trade.ExchangeDealID}}</th>
            <td>{{trade.HubAlias}}</td>
            <td>{{trade.Side}}</td>
            <td>{{trade.ProductName}}</td>
            <td>{{trade.LastQty}}</td>
            <td>{{trade.LastPrice | currency}}</td>
        </tr>
    </tbody>
</table>