<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row" ng-show="vm.showAcademic">
                <div ng-include="'/app/components/education/views/academic.html'"></div>
            </div>
            <div class="row" ng-show="vm.showCertification">
                <div ng-include="'/app/components/education/views/certification.html'"></div>
            </div>
            <div class="row" ng-show="vm.showPublications">
                <div ng-include="'/app/components/education/views/publications.html'"></div>
            </div>
        </div>
    </div>
</div>
