<!-- START REVOLUTION SLIDER 5.0 -->
<div class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="fade">
                <!-- MAIN IMAGE -->
                <img src="../../../Img/home-pic.jpg" alt="" width="1920" height="1280">
                <div class="tp-caption News-Title"
                     data-x="left" data-hoffset="-4000"
                     data-y="top" data-voffset="0"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    <div style="height: 600px; width: 8000px; background-color: rgba(255, 255, 255, .05)">
                    </div>
                </div>
                <div class="tp-caption News-Title"
                     data-x="center"
                     data-y="top" data-voffset="30"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    <h2 class="text-center slider-header1">Data Management Solutions</h2>
                    <h4 class="text-center slider-header2">As simple as you want it. As complex as you need it.</h4>
                </div>
                <div class="tp-caption News-Title"
                     data-x="center"
                     data-y="top"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    <md-button class="md-raised md-primary slider-button">Learn More</md-button>
                </div>
            </li>
            <li data-transition="fade">
                <!-- MAIN IMAGE -->
                <img src="../../../Img/slider2.jpg" alt="" width="1920" height="3000">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption News-Title"
                        data-x="left" data-hoffset="600"
                        data-y="top" data-voffset="210"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="o:0"
                        data-transform_out="o:0"
                        data-start="500">
                    <img src="../../../Img/slider-2-monitors.png" alt="Alternate Text" />
                  </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption News-Title"
                     data-x="left" data-hoffset="100"
                     data-y="top" data-voffset="100"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    <h2 class="text-center" style="font-family: Roboto; margin:0px;background-color: rgba(73, 74, 165, .85); width: 310px; font-size: 61px; color: white; padding: 10px; font-weight: 500;">Solutions.</h2>
                </div>
                <div class="tp-caption News-Title"
                     data-x="left" data-hoffset="100"
                     data-y="top" data-voffset="200"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    <h4 style="font-family: Roboto; margin:0px;background-color: rgba(184, 86, 119, .85); padding: 4px; padding-left: 20px; color: white; width: 335px; line-height: 1.25; font-size: 28px; font-weight: 500;">As simple as you want. <br />
                    As complex as you need.</h4>
                </div>
                <div class="tp-caption News-Title"
                     data-x="left" data-hoffset="75"
                     data-y="top" data-voffset="320"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    <p style="width: 450px; font-family: Roboto; font-weight: 700; color: #333; line-height: 1.5; font-size: 28px; margin: 0px; padding: 0px;">We provide our business partners with elegant solutions that fit their needs and just make sense.</p>
                </div>
            </li>
        </ul>
    </div><!-- END REVOLUTION SLIDER -->
</div><!-- END OF SLIDER WRAPPER -->
<script>
jQuery(document).ready(function() {
   jQuery("#slider1").revolution({
      sliderType:"slider",
      sliderLayout:"auto",
      delay:9000,
      navigation: {
          arrows:{enable:true}
      },
      gridwidth:1440,
      gridheight:700
    });
});
</script>

<section class="animated slideInUp" id="cta-home">
    <p>Explain one of your product benefits here. Let users know how they can benefit using your product.</p>
</section>
<section layout="row" id="dmsHelp" layout-wrap>
    <div flex="100">
        <h2>How Can DMS Help?</h2>
        <h4>We meet the industry's current and coming needs head on.</h4>
    </div>
    <div flex="50" flex-md="100" flex-sm="100">
        <h3>Here's the problem.</h3>
        <p>The energy sector is at a critical point in time.</p>
        <p>There is a coming energy boom where experts and innovators will be in even shorter supply than they already are. Compound this with the fact that the industry has been plagued with ETRM systems and consultants that are expensive, sluggish and unresponsive.</p>
        <p>What are you left with? An organization that isn't reaching its fullest potential.</p>
        <h3>Here's how we help.</h3>
        <p>Our ETRM products and services let you do more with less. We automate your current processes and allow you to significantly increase your business reach without equally increasing your in-house personnel.</p>
        <p>Our model serves where the industry is going, not where it has been. How solutions have historically been provided is unacceptable, and we're here to set new industry standards.</p>

    </div>
    <div flex="50" flex-md="100" flex-sm="100">
        <img class="center-block img-responsive" src="../../../Img/BridgeTheGap_Final.png" alt="Alternate Text" />
        <!--<p class="text-center">Above is a screenshot of our upcoming product EnergyPro</p>-->
    </div>
    <!--<div flex="100">
        <div class="testimonials">
            <p>
                “We are streamlined.
DMS has allowed us to increase our volume of transactions without having to increase our staff. We can have scalability without increasing hires. It allows us to put our attention and effort on other aspects of our business.”
            </p>
            <p>- Midstream marketer - 1.9 billion annual cost</p>
        </div>
    </div>-->
</section>
<div class="industry-parallax" data-stellar-ratio="2" flex="100">
    <div class="industry-overlay">
        <p>"The gas industry and the solutions providers who serve it are at a critical time. Solutions providers have not changed they way they do business in the last 50 years."</p>
    </div>
</div>

<section layot="row" id="ourServices" style="padding-right: 0px;" layout-wrap>
    <div flex="100">
        <h2>Our Solutions</h2>
        <h4>We have been providing software services and solutions for over 20 years.</h4>
    </div>
    <md-card hide-gt-md>
        <md-card-content>
            <ng-md-icon icon="supervisor_account" size="72" style="fill: #3F51B5;"></ng-md-icon>
            <h2 class="md-title">Products</h2>
            <p>
                Trading. Logistics. Settlement. Connectivity. <br />
                A complete gas management solution.
            </p>
            <p>
                From two-user LDCs to 100+ user enterprise engagements, DMS provides all of our business partners with ETRM systems that fit their specific needs in seamless and robust ways.
            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="center center">
            <md-button class="md-raised md-primary">Learn More</md-button>
        </div>
    </md-card>
    <md-card hide-gt-md>
        <md-card-content>
            <ng-md-icon icon="wallet_membership" size="72" style="fill: #3F51B5;"></ng-md-icon>
            <h2 class="md-title">Services</h2>
            <p>
                Looking to expand the reach of your business without expanding your in-house staff?
            </p>
            <p>
                DMS provides consulting, implementation and back-office services that allow you to minimize your liabilities and rapidly expand and maintain your business.
            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="center center">
            <md-button class="md-raised md-primary">Learn More</md-button>
        </div>
    </md-card>
    <md-card hide-gt-md>
        <md-card-content>
            <ng-md-icon icon="assignment" size="72" style="fill: #3F51B5;"></ng-md-icon>
            <h2 class="md-title">Learn</h2>
            <p>
                DMS staff have taught thousands of students at the undergraduate and graduate level the ins and outs of the industry while using our systems.
            </p>
            <p>
                Our onsite seminars, regional conferences and online certification courses add value to your current personnel.
            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="center center">
            <md-button class="md-raised md-primary">Learn More</md-button>
        </div>
    </md-card>    
    <div flex="100">
        <md-content layout="row">
            <md-card hide-md hide-sm>
                <md-card-content class="solutions-card">
                    <ng-md-icon icon="supervisor_account" size="72" style="fill: #3F51B5;"></ng-md-icon>
                    <h2 class="md-title">Products</h2>
                    <p>
                        Trading. Logistics. Settlement. Connectivity. <br/>
                        A complete gas management solution.
                    </p>
                    <p>
                        From two-user LDCs to 100+ user enterprise engagements, DMS provides all of our business partners with ETRM systems that fit their specific needs in seamless and robust ways.
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary">Learn More</md-button>
                </div>
            </md-card>
            <md-card hide-md hide-sm>
                <md-card-content class="solutions-card">
                    <ng-md-icon icon="wallet_membership" size="72" style="fill: #3F51B5;"></ng-md-icon>
                    <h2 class="md-title">Services</h2>
                    <p>
                        Looking to expand the reach of your business without expanding your in-house staff?
                    </p>
                    <p>
                        DMS provides consulting, implementation and back-office services that allow you to minimize your liabilities and rapidly expand and maintain your business.
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary">Learn More</md-button>
                </div>
            </md-card>
            <md-card hide-md hide-sm>
                <md-card-content class="solutions-card">
                    <ng-md-icon icon="assignment" size="72" style="fill: #3F51B5;"></ng-md-icon>
                    <h2 class="md-title">Learn</h2>
                    <p>
                        DMS staff have taught thousands of students at the undergraduate and graduate level the ins and outs of the industry while using our systems.
                    </p>
                    <p>
                        Our onsite seminars, regional conferences and online certification courses add value to your current personnel.
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary">Learn More</md-button>
                </div>
            </md-card>
        </md-content>
    </div>
</section>
<section class="container-fluid" layout="row" id="whyUs" layout-wrap>
    <div flex="50" flex-md="100" flex-sm="100">
        <h2>Why DMS?</h2>
        <h4 class="section-subheader text-center">We have proven that our solutions can improve any business.</h4>
        <ul>
            <li layout="row">
                <div flex="20">
                    <h4>Proven</h4>
                    <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/shield.png" alt="Alternate Text" />
                </div>
                <div flex="80">
                    <p>DMS’ clients include some of the more prominent names in the industry including Producers, Government Agencies, Marketing, and Local Distribution companies.</p>
                </div>
            </li>
            <li layout="row">
                <div flex="20">
                    <h4>Trusted</h4>
                    <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/trophy.png" alt="Alternate Text" />
                </div>
                <div flex="80">
                    <p>Our commitment to our clients’ success has been our primary objective since day one and continues to be so today. To that end, DMS has always and will continue to celebrate successful implementations and not successful sales.</p>
                </div>
            </li>
            <li layout="row">
                <div flex="20">
                    <h4>Commited</h4>
                    <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/bank.png" alt="Alternate Text" />
                </div>
                <div flex="80">
                    <p>The company they formed was Data Management Solutions (DMS). The solution they created was GasPro, an integrated gas management and trading software system providing transparency and efficiencies across the front, middle, and back offices. </p>
                </div>
            </li>
        </ul>
        <div hide-lg hide-md hide-sm class="md-actions" layout="row" layout-align="center center">
            <md-button class="md-raised md-primary">Learn More</md-button>
        </div>
    </div>
    <div hide-md hide-sm flex="50" class="background-right">
        <div class="why-us-overlay"></div>
    </div>
</section>

<div ng-include="'/app/components/contact/inPageContactUs.html'"></div>
<div ng-include="'/app/components/contact/sidenavContactUs.html'"></div>

<div id="sticky-header" style="width: 100%; height: 0px;" layout="row" ng-controller="NavBarController as vm">
    <ul flex="100" id="stick-ul2">
        <li>
            <md-button ui-sref="index" aria-label="Home">
                <img src="../../../Img/shadowdmslogo_small2.png" class="center-block" alt="DMS Logo" />
            </md-button>
            <md-button ui-sref="products">Products</md-button>
            <md-button ui-sref="about">Services</md-button>
            <md-button ui-sref="about">Education</md-button>
            <md-button ui-sref="about">Testimonials</md-button>
            <md-button ui-sref="about">About</md-button>
            <a class="md-button" aria-label="Home" ng-click="vm.openContactUs();">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
    </ul>
</div>

<script>
        $("#stick-ul1").hide();
        $("#stick-ul2").hide();
        $("#stick-ul3").hide();
        $(window).bind('scroll', function () {
            if ($(window).scrollTop() > 100) {
                $("#sticky-header").addClass("remove-display");
                $("#stick-ul1").show();
                $("#stick-ul2").show();
                $("#stick-ul3").show();
            } else {
                $("#sticky-header").removeClass("remove-display");
                $("#stick-ul1").hide();
                $("#stick-ul2").hide();
                $("#stick-ul3").hide();
            }
        });
</script>
