<section class="topSwipeSlider">
        <!-- masterslider -->
        <div class="master-slider ms-skin-default" id="masterslider">
            <div class="ms-slide">
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/swiper1.jpg" alt="lorem ipsum dolor sit" />
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/circular-dots.png" alt="Icon"
                        id="img-rotate"
                        class="ms-layer slider-spin"
                        data-type="image" />
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/outerWheel_top.png" alt="Icon"
                        class="ms-layer slider-spin1"
                        data-type="image" />
                <h3 class="ms-layer bold-text-white bigtext"
                    data-type="text">
                    DMS <br />
                    <span style="width: 20px;" class="solutionText">Solutions</span>
                </h3>
                <h2 class="ms-layer header-slider"
                    data-type="text"
                    data-delay="100"
                    data-duration="2701"
                    data-effect="scalefrom(0.5,0.5,456,200)"
                    data-ease="easeOutExpo">
                    D<span class="slider-letters" data-type="text">ata</span> M<span data-type="text" class="slider-letters">anagement</span> S<span data-type="text" class="slider-letters">olutions</span>
</h2>
                <p class="ms-layer header-content"
                   data-delay="100"
                    data-duration="2701"
                    data-effect="scalefrom(0.5,0.5,456,200)"
                    data-ease="easeOutExpo">
                    Systems. Consulting. Administration. Education. We have been providing seamless ETRM solutions to the energy industry since 1993.
                    <br />
                    <md-button class="md-raised cta-slider" aria-label="Contact Us" ng-click="vm.openContactUs();">Contact Us Today</md-button>
                </p>
            </div>
            <div class="ms-slide">
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/swiper2.jpg" alt="lorem ipsum dolor sit" />
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/circular-dots.png" alt="Icon"
                     id="img-rotate"
                     class="ms-layer slider-spin"
                     data-type="image"
                     data-delay="100"
                     data-duration="2701"
                     data-effect="scalefrom(0.5,0.5,456,200)"
                     data-ease="easeOutExpo" />
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/outerWheel_right.png" alt="Icon"
                     class="ms-layer slider-spin1"
                     data-type="image" />
                <h3 class="ms-layer bold-text-white bigtext"
                    data-type="text">
                    DMS <br />
                    <span style="width: 20px;" class="solutionText">Solutions</span>
                </h3>
                <h2 class="ms-layer header-slider"
                    data-type="text"
                    data-delay="100"
                    data-duration="2701"
                    data-effect="scalefrom(0.5,0.5,456,200)"
                    data-ease="easeOutExpo">
                   The Institution
                </h2>
                <p class="ms-layer header-content"
                   data-delay="100"
                    data-duration="2701"
                    data-effect="scalefrom(0.5,0.5,456,200)"
                    data-ease="easeOutExpo">
                    The energy industry is on a course to rapidly grow. If ETRM solutions are still provided in 5 years as they are today, there will be problems. DMS provides tomorrow's solutions - today.
                    <br />
                    <md-button class="md-raised cta-slider" aria-label="Contact Us" ng-click="vm.openContactUs();">Contact Us Today</md-button>
                </p>
            </div>
            <div class="ms-slide">
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/swiper3.jpg" alt="lorem ipsum dolor sit" />
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/circular-dots.png" alt="Icon"
                     id="img-rotate"
                     class="ms-layer slider-spin"
                     data-type="image"
                     data-delay="100"
                     data-duration="2701"
                     data-effect="scalefrom(0.5,0.5,456,200)"
                     data-ease="easeOutExpo" />
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/outerWheel_bottom.png" alt="Icon"
                     class="ms-layer slider-spin1"
                     data-type="image" />
                <h3 class="ms-layer bold-text-white bigtext"
                    data-type="text">
                    DMS <br />
                    <span style="width: 20px;" class="solutionText">Solutions</span>
                </h3>
                <h2 class="ms-layer header-slider"
                    data-type="text"
                    data-delay="100"
                    data-duration="2701"
                    data-effect="scalefrom(0.5,0.5,456,200)"
                    data-ease="easeOutExpo">
                    Your Solution
                </h2>
                <p class="ms-layer header-content"
                   data-delay="100"
                    data-duration="2701"
                    data-effect="scalefrom(0.5,0.5,456,200)"
                    data-ease="easeOutExpo">
                    As expert resources become increasingly scarce, DMS fills any gaps and brings your operation to the next level. Our passion is providing elegant solutions that fit your needs and just make sense. 
                    <br />
                    <md-button class="md-raised cta-slider" aria-label="Contact Us" ng-click="vm.openContactUs();">Contact Us Today</md-button>
                </p>
            </div>
            <div class="ms-slide">
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/swiper4.jpg" alt="lorem ipsum dolor sit" />
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/circular-dots.png" alt="Icon"
                     id="img-rotate"
                     class="ms-layer slider-spin"
                     data-type="image"
                     data-delay="100"
                     data-duration="2701"
                     data-effect="scalefrom(0.5,0.5,456,200)"
                     data-ease="easeOutExpo" />
                <img src="../../../Content/masterslider/style/blank.gif" data-src="../../../Img/index/slider/outerWheel_left.png" alt="Icon"
                     class="ms-layer slider-spin1"
                     data-type="image" />
                <h3 class="ms-layer bold-text-white bigtext"
                    data-type="text">
                    DMS <br />
                    <span style="width: 20px;" class="solutionText">Solutions</span>
                </h3>
                <h2 class="ms-layer header-slider"
                    data-type="text"
                    data-delay="100"
                    data-duration="2701"
                    data-effect="scalefrom(0.5,0.5,456,200)"
                    data-ease="easeOutExpo">
                    An Industry Revolution
                </h2>
                <p class="ms-layer header-content"
                   data-delay="100"
                    data-duration="2701"
                    data-effect="scalefrom(0.5,0.5,456,200)"
                    data-ease="easeOutExpo">
                    No more sluggishness. No more complexity. &nbsp;&nbsp; How solutions have historically been provided is unacceptable, and DMS is changing the way business is done. Today.
                    <br />
                    <md-button class="md-raised cta-slider" aria-label="Contact Us" ng-click="vm.openContactUs();">Contact Us Today</md-button>
                </p>
            </div>
        </div>
</section>

<script type="text/javascript">
		var slider = new MasterSlider();

		slider.control('arrows');
		slider.control('bullets' , {autohide:false, align:'bottom', margin:10});

		slider.setup('masterslider', {
		    width: 1600,    // slider standard width
		    height: 800,   // slider standard height
		    space: 1,
		    layout: 'fullwidth',
			view: 'stack',
			instantStartLayers: true,
			preload: 0,
			startOnAppear: true,
			loop:true
		});
</script>

<section class="animated slideInUp" id="cta-home">
    <p>Solutions. As simple as you want, as robust as you need.</p>
</section>

<section layot="row" id="ourServices" layout-wrap>
    <div flex="100">
        <h2>How Can DMS Help?</h2>
        <h4>We have been providing software services and solutions since 1993.</h4>
    </div>
    <md-card hide-gt-md>
        <md-card-content>
            <p class="text-center"><ng-md-icon icon="desktop_mac" style="fill: #3F51B5;" size="72" ui-sref="products({goTo: 'top'})"></ng-md-icon></p>
            <h2 class="md-title text-center" ui-sref="products({goTo: 'top'})">Products</h2>
            <p class="text-center">
                Trading. Logistics. Settlement. Connectivity. <br />
                Complete gas management solutions.
            </p>
            <p class="text-center">
                From two-user LDCs to 100+ user enterprise engagements, DMS provides all of our business partners with ETRM systems that fit their specific needs in seamless and robust ways.
            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" ui-sref="products({goTo: 'top'})">Learn More</md-button>
        </div>
    </md-card>
    <md-card hide-gt-md>
        <md-card-content>
            <p class="text-center"><ng-md-icon icon="location_city" size="72" style="fill: #F44336;" ui-sref="services({goTo: 'top'})"></ng-md-icon></p>
                <h2 class="md-title text-center" ui-sref="services({goTo: 'top'})">Services</h2>
            <p class="text-center">
                Looking to expand the reach of your business without expanding your in-house staff?
            </p>
            <p class="text-center">
                DMS provides consulting, implementation and front-to-back office services that allow you to minimize your liabilities and rapidly expand and maintain your business.
            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" ui-sref="services({goTo: 'top'})" style="background-color: #F44336;">Learn More</md-button>
        </div>
    </md-card>
    <md-card hide-gt-md>
        <md-card-content>
            <p class="text-center"><ng-md-icon icon="local_library" size="72" style="fill: #009688;" ui-sref="education({goTo: 'top'})"></ng-md-icon></p>
                <h2 class="md-title text-center" ui-sref="education({goTo: 'top'})">Education</h2>
<p class="text-center">
                DMS staff have taught thousands of students at the undergraduate and graduate level the ins and outs of the industry while using our systems.
            </p>
            <p class="text-center">
                Our onsite seminars, regional conferences and online certification courses add value to your current personnel.
            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" ui-sref="education({goTo: 'top'})" style="background-color: #009688;">Learn More</md-button>
        </div>
    </md-card>
    <div flex="100">
        <md-content layout="row">
            <md-card hide-md hide-sm>
                <md-card-content class="solutions-card">
                    <ng-md-icon icon="desktop_mac" size="72" style="fill: #3F51B5;" ui-sref="products({goTo: 'top'})"></ng-md-icon>
                    <h2 class="md-title" ui-sref="products({goTo: 'top'})">Products</h2>
                    <p>
                        Trading. Logistics. Settlement. Connectivity. <br />
                        Complete gas management solutions.
                    </p>
                    <p>
                        From two-user LDCs to 100+ user enterprise engagements, DMS provides all of our business partners with ETRM systems that fit their specific needs in seamless and robust ways.
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ui-sref="products({goTo: 'top'})" style="background-color: #3F51B5;">Learn More</md-button>
                </div>
            </md-card>
            <md-card hide-md hide-sm>
                <md-card-content class="solutions-card">
                    <ng-md-icon icon="location_city" size="72" style="fill: #F44336;" ui-sref="services({goTo: 'top'})"></ng-md-icon>
                    <h2 class="md-title" ui-sref="services({goTo: 'top'})">Services</h2>
                    <p>
                        Looking to expand the reach of your business without expanding your in-house staff?
                    </p>
                    <p>
                        DMS provides consulting, implementation and front-to-back office services that allow you to minimize your liabilities and rapidly expand and maintain your business.
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ui-sref="services({goTo: 'top'})" style="background-color: #F44336;">Learn More</md-button>
                </div>
            </md-card>
            <md-card hide-md hide-sm>
                <md-card-content class="solutions-card">
                    <ng-md-icon icon="local_library" size="72" style="fill: #009688;" ui-sref="education({goTo: 'top'})"></ng-md-icon>
                    <h2 class="md-title" ui-sref="education({goTo: 'top'})">Education</h2>
                    <p>
                        DMS staff have taught thousands of students at the undergraduate and graduate level the ins and outs of the industry while using our systems.
                    </p>
                    <p>
                        Our onsite seminars, regional conferences and online certification courses add value to your current personnel.
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ui-sref="education({goTo: 'top'})" style="background-color: #009688;">Learn More</md-button>
                </div>
            </md-card>
        </md-content>
    </div>
</section>

<div class="index-industry-parallax" flex="100" layout="row" layout-align="center center">
    <div class="industry-overlay">
        <p>
            “We are streamlined.
            DMS has allowed us to increase our volume of transactions without having to increase our staff. We can have scalability without increasing hires. It allows us to put our attention and effort on other aspects of our business.”
        </p>
        <p>- Midstream marketer - 1.9 billion annual cost</p>
    </div>
</div>

<section layout="row" id="theInstitution" layout-wrap>
    <div flex="100">
        <h2>The Institution</h2>
        <h4>Because of Fracking, the Industry is heading toward a Resource Deficit.</h4>
    </div>
    <div flex="50" flex-md="100" flex-sm="100">
        <h3>Here's the problem.</h3>
        <p>The energy sector is at a critical point in time.</p>
        <p>There is a coming energy boom where experts and innovators will be in even shorter supply than they already are. Compound this with the fact that the industry has been plagued with ETRM systems and consultants that are expensive, sluggish and unresponsive.</p>
        <p>What are you left with? An organization that isn't reaching its fullest potential.</p>
    </div>
    <div flex="50" flex-md="100" flex-sm="100">
        <img class="center-block img-responsive" src="../../../Img/index/gap-institution.png" alt="Alternate Text" />
    </div>
</section>

<section layout="row" id="yourSolution" layout-wrap>
    <div flex="100">
        <h2>Your Solution</h2>
        <h4>We meet the industry's current and coming needs head on.</h4>
    </div>
    <div flex="50" flex-md="100" flex-sm="100">
        <h3 style="text-align: left;">Here's how we help.</h3>
        <p>Our ETRM products and services let you do more with less. We automate your current processes and allow you to significantly increase your business reach without equally increasing your in-house personnel.</p>
        <p>Our model serves where the industry is going, not where it has been. How solutions have historically been provided is unacceptable, and we're here to set new industry standards.</p>
        <p>Take a look at our <span ui-sref="products({goTo: 'top'})" style="cursor: pointer; color: #3F51B5; text-decoration: underline; font-weight: 500;">products</span>, <span ui-sref="services({goTo: 'top'})" style="cursor: pointer; color: #3F51B5; text-decoration: underline; font-weight: 500;">services</span> and <span ui-sref="education({goTo: 'top'})" style="cursor: pointer; color: #3F51B5; text-decoration: underline; font-weight: 500;">education</span> programs and see for yourself how we're setting new industry standards.</p>
    </div>
    <div flex="50" flex-md="100" flex-sm="100">
        <img class="center-block img-responsive" src="../../../Img/index/gap-solution.png" alt="Alternate Text" />
    </div>
</section>

<section class="container" id="ourRevolution" layout="row" layout-wrap>
    <h5 flex="100">An Industry Revolution</h5>
    <div flex="100" class="history-title">
        <h4>Different. From the top down.</h4>
    </div>
    <div flex="50" flex-md="100" flex-sm="100" class="how-others-do-it" layout="row" layout-wrap>
        <h2 flex="100">How Others Do It</h2>
        <ul flex="100">
            <li layout="row">
                <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/index/revolution-icons/money-red.png" alt="Money" />
                <p flex="80" flex-sm="67">Requires millions of dollars upfront</p>
            </li>
            <li layout="row">
                <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/index/revolution-icons/clock-red.png" alt="Clock" />
                <p flex="80" flex-sm="67">Requires teams of consultants years to implement</p>
            </li>
            <li layout="row">
                <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/index/revolution-icons/line-red.png" alt="Line" />
                <p flex="80" flex-sm="67">Poorly integrates re-hashed systems, resulting in a messy and convoluted solution</p>
            </li>
            <li layout="row">
                <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/index/revolution-icons/user-red.png" alt="User" />
                <p flex="80" flex-sm="67">"Includes" a 10+ person IT team to simply maintain functionality of the system</p>
            </li>
        </ul>
    </div>
    <div flex="50" flex-md="100" flex-sm="100" class="how-we-do-it" layout="row" layout-wrap>
        <h2 flex="100">How We Do It</h2>
        <ul flex="100">
            <li layout="row">
                <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/index/revolution-icons/money-indigo.png" alt="Money" />
                <p flex="80" flex-sm="67">No up-front capital investment pricing options</p>
            </li>
            <li layout="row">
                <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/index/revolution-icons/clock-indigo.png" alt="Clock" />
                <p flex="80" flex-sm="67">Implement you in months without a pricey consulting army (100% success rate)</p>
            </li>
            <li layout="row">
                <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/index/revolution-icons/line-indigo.png" alt="Line" />
                <p flex="80" flex-sm="67">A seamless solution from trades to reporting</p>
            </li>
            <li layout="row">
                <img class="center-block img-responsive" style="height: 50px;" src="../../../Img/index/revolution-icons/user-indigo.png" alt="User" />
                <p flex="80" flex-sm="67">Our systems work; no reason to staff multitudes of IT personnel to keep it functioning</p>
            </li>
        </ul>
    </div>
</section>

<div ng-include="'/app/components/contact/inPageContactUs.html'"></div>
<div ng-include="'/app/components/contact/sidenavContactUs.html'"></div>

<div id="sticky-header" style="width: 100%; height: 0px;" layout="row" ng-controller="NavBarController as vm">
    <ul class="mobile-home2" flex="100" id="stick-ul2">
        <li>
            <md-button href="" ng-click="vm.goToTop();" aria-label="Home">
                <img src="../../../Img/navbar/logo.svg" class="center-block" alt="DMS" />
            </md-button>
            <md-button ui-sref="products({goTo: 'top'})">Products</md-button>
            <md-button ui-sref="services({goTo: 'top'})">Services</md-button>
            <md-button ui-sref="education({goTo: 'top'})">Education</md-button>
            <md-button href="/testimonials#top">Testimonials</md-button>
            <md-button href="/about#top">About</md-button>
            <md-button aria-label="Home" ng-click="vm.openContactUs();">
                <i class="fa fa-envelope"></i>
            </md-button>
        </li>
    </ul>
    <ul layout="row" class="mobile-home1" layout-align="space-between center">
        <li>
            <md-button ui-sref="index" aria-label="Home">
                <img src="../../../Img/navbar/logo.svg" style="margin-left: 12px;" class="center-block" alt="DMS Logo" />
            </md-button>
        </li>
        <li>
        </li>
        <li>
            <md-button ui-sref="index" style="text-align: right;" aria-label="Hamburger" ng-click="vm.openNav();">
                <i class="fa fa-bars" style="font-size: 28px; padding-top: 10px; padding-right: 12px;"></i>
            </md-button>
        </li>
    </ul>
</div>

<script>
        $("#stick-ul1").hide();
        $("#stick-ul2").hide();
        $("#stick-ul3").hide();
        $(window).bind('scroll', function () {
            if ($(window).scrollTop() > 100) {
                $("#sticky-header").addClass("remove-display");
                $("#stick-ul1").show();
                $("#stick-ul2").show();
                $("#stick-ul3").show();
            } else {
                $("#sticky-header").removeClass("remove-display");
                $("#stick-ul1").hide();
                $("#stick-ul2").hide();
                $("#stick-ul3").hide();
            }
        });
</script>
