<!-- START REVOLUTION SLIDER 5.0 -->
<div class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="fade">
                <!-- MAIN IMAGE -->
                <img src="http://theme.stepofweb.com/Smarty/v1.1.0/HTML/assets/images/demo/wall2.jpg" alt="" width="1920" height="1280">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption News-Title"
                        data-x="left" data-hoffset="340"
                        data-y="top" data-voffset="-90"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="o:0"
                        data-transform_out="o:0"
                        data-start="500"><img style="height: 600px;" src="../../../Img/dmstextlogowithline.png" /></div>
            </li>

            <li data-transition="fade">
                <!-- MAIN IMAGE -->
                <img src="../../../Img/home-image4.jpg" alt="" width="1920" height="1280">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption News-Title"
                        data-x="left" data-hoffset="80"
                        data-y="top" data-voffset="450"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="o:0"
                        data-transform_out="o:0"
                        data-start="500">DISCOVER THE WILD</div>
            </li>
        </ul>
    </div><!-- END REVOLUTION SLIDER -->
</div><!-- END OF SLIDER WRAPPER -->
<script>
jQuery(document).ready(function() {
   jQuery("#slider1").revolution({
      sliderType:"slider",
      sliderLayout:"auto",
      delay:9000,
      navigation: {
          arrows:{enable:true}
      },
      gridwidth:1440,
      gridheight:435
    });
});
</script>

<section layout="row" id="dmsHelp" layout-wrap>
    <div flex="100">
        <h2>How Can DMS Help?</h2>
        <h4>The New and Revolutionary Approach of Providing a Proven and Affordable ETRM Solution.</h4>
    </div>
    <div flex="33">
        <h3>Here's our Solution</h3>
        <p>Explain one of your product benefits here. Let users know how they can benefit using your product. It’s also a good idea to back it up with a testimonial or tweet from your users.</p>
        <p>The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.</p>
        <p>Explain one of your product benefits here. Let users know how they can benefit using your product. It’s also a good idea to back it up with a testimonial or tweet from your users.</p>
        <div class="testimonials">
            <p>
                “Yes, I do support and endorse GasPro openly. I’ll show prospects what the system does for us. When DMS grows, that’s good for us too.”
            </p>
            <p>- Midstream marketer</p>
        </div>

    </div>
    <div flex="66">
        <img class="center-block img-responsive" src="http://themes.3rdwavemedia.com/velocity/1.5.4/assets/images/figures/figure-1.png" alt="Alternate Text" />
        <p class="text-center">Above is a screenshot of our upcoming product EnergyPro</p>
    </div>

</section>
<section layot="row" id="ourServices" layout-wrap>
    <div flex="100">
        <h2>Our Solutions</h2>
        <h4>We have been providing software services and solutions for over 20 years.</h4>
    </div>
    <div flex="100">
        <md-content layout="row">
            <md-card flex>
                <md-card-content>
                    <ng-md-icon icon="supervisor_account" size="72" style="fill: #3F51B5;"></ng-md-icon>
                    <h2 class="md-title">Products</h2>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary">Learn More</md-button>
                </div>
            </md-card>
            <md-card flex>
                <md-card-content>
                    <ng-md-icon icon="wallet_membership" size="72" style="fill: #3F51B5;"></ng-md-icon>
                    <h2 class="md-title">Services</h2>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary">Learn More</md-button>
                </div>
            </md-card>
            <md-card flex>
                <md-card-content>
                    <ng-md-icon icon="assignment" size="72" style="fill: #3F51B5;"></ng-md-icon>
                    <h2 class="md-title">Learn</h2>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary">Learn More</md-button>
                </div>
            </md-card>
        </md-content>
    </div>
</section>
<section layout="row" id="whyUs" layout-wrap>
    <div flex="50">
        <h2>Why DMS?</h2>
        <h4 class="section-subheader text-center">We have proven that our solutions can improve any business.</h4>
        <ul>
            <li layout="row">
                <div flex="20">
                    <h4>Proven</h4>
                    <p>
                        <i class="fa fa-university"></i>
                    </p>
                </div>
                <div flex="80">
                    <p>DMS’ clients include some of the more prominent names in the industry including Producers, Government Agencies, Marketing, and Local Distribution companies.</p>
                </div>
            </li>
            <li layout="row">
                <div flex="20">
                    <h4>Trusted</h4>
                    <p>
                        <i class="fa fa-trophy"></i>
                    </p>
                </div>
                <div flex="80">
                    <p>Our commitment to our clients’ success has been our primary objective since day one and continues to be so today. To that end, DMS has always and will continue to celebrate successful implementations and not successful sales.</p>
                </div>
            </li>
            <li layout="row">
                <div flex="20">
                    <h4>Commited</h4>
                    <p>
                        <i class="fa fa-question"></i>
                    </p>
                </div>
                <div flex="80">
                    <p>The company they formed was Data Management Solutions (DMS). The solution they created was GasPro, an integrated gas management and trading software system providing transparency and efficiencies across the front, middle, and back offices. </p>
                </div>
            </li>
        </ul>
        <div hide-lg hide-md hide-sm class="md-actions" layout="row" layout-align="center center">
            <md-button class="md-raised md-primary">Learn More</md-button>
        </div>
    </div>
    <div flex="50" class="background-right">
        <div class="why-us-overlay"></div>
    </div>
</section>
<section id="contactUs" layout="row" layout-wrap>
    <div flex="100">
        <h2>Contact Us</h2>
        <h4>Send us a quick message and we'll get in touch</h4>
    </div>
    <div flex="33">
        <div layout="column">
            <div flex="100">
                <img class="img-responsive" src="../../../Img/cloud.png" alt="Cloud Solutions" />
            </div>
            <div flex="100">
                <p>Don't hesitate to contact us for any questions or requests for demos. This goes straight to humans and we will reach out to you upon receipt shortly.</p>
            </div>
        </div>
    </div>
    <div flex="66">
        <md-card>
            <md-card-content layout-padding>
                <form name="home-contact-us">
                    <div class="md-actions" layout="row" layout-align="space-between center">
                        <div>
                             <h5>Dear DMS,</h5>
                        </div>
                        <div></div>
                        <md-button class="md-icon-button md-accent">
                            <md-tooltip>
                                Clear Form
                            </md-tooltip>
                            <i class="fa fa-eraser"></i>
                        </md-button>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Name</label>
                            <input ng-required="true" ng-model="user.name" type="text">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Topic</label>
                            <md-select ng-model="ctrl.userTopic">
                                <md-option value="1">Web Solution</md-option>
                                <md-option value="2">Consulting</md-option>
                                <md-option value="3">Education</md-option>
                                <md-option value="4">Certification</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="user.email" type="email" ng-required="true">
                    </md-input-container>
                    <md-input-container>
                        <label>Message</label>
                        <textarea  ng-required="true" ng-model="user.biography" rows="3" columns="5" md-maxlength="1000"></textarea>
                    </md-input-container>
                </form>
                <div class="md-actions" layout="row" layout-align="space-between center">
                    <div></div>
                    <md-button class="md-fab md-primary md-raised">
                        <md-tooltip>
                            Send Message
                        </md-tooltip>
                        <i class="fa fa-paper-plane"></i>
                    </md-button>
                    <div>
                        <h5 ng-show="user.name">Sincerely,</h5>
                        <h5>{{user.name}}</h5>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

</section>
