<section id="sub-navbar-overview">
    <md-button class="animated fadeIn" ui-sref="gaspro">
        <img src="../../../Img/products/navbar/gaspro.svg" alt="GasPro" style="max-width: 60px; max-height: 60px;" />
        <p>GasPro</p>
    </md-button>
    <md-button class="animated fadeIn" ui-sref="gastrak">
        <img src="../../../Img/products/navbar/gastrak.svg" alt="GasTrak" />
        <p>GasTrak</p>
    </md-button>
    <md-button class="animated fadeIn" href="" ng-click="vm.comingEnergypro($event)">
        <img src="../../../Img/products/navbar/energypro.svg" alt="EnergyPro" />
        <p>EnergyPro</p>
    </md-button>
    <md-button class="animated fadeIn" href="" ng-click="vm.comingExecView($event)">
        <img src="../../../Img/products/navbar/executiveview.svg" alt="Executive View" />
        <p>Executive View</p>
    </md-button>
</section>

<section id="sub-navbar-overview1">
    <md-button class="animated fadeIn" ui-sref="gaspro">
        <img src="../../../Img/products/navbar/gaspro.svg" alt="GasPro" style="max-width: 60px; max-height: 60px;" />
        <p>GasPro</p>
    </md-button>
    <md-button class="animated fadeIn" ui-sref="gastrak">
        <img src="../../../Img/products/navbar/gastrak.svg" alt="GasTrak" />
        <p>GasTrak</p>
    </md-button>
    <md-button class="animated fadeIn" href="" ng-click="vm.comingEnergypro($event)">
        <img src="../../../Img/products/navbar/energypro.svg" alt="EnergyPro" />
        <p>EnergyPro</p>
    </md-button>
    <md-button class="animated fadeIn" href="" ng-click="vm.comingExecView($event)">
        <img src="../../../Img/products/navbar/executiveview.svg" alt="Executive View" />
        <p>Executive View</p>
    </md-button>
</section>

<section id="products-description" layout="row" layout-wrap>
    <div flex="100">
        <h2 class="section-header text-center">
            Our Products
        </h2>
        <p class="section-subheader text-center">
            ETRM Systems and Reporting Software <br />
            As simple as you want, as robust as you need - for any size operation.
        </p>
    </div>
</section>

<section id="product-overview" class="container" layout="row" layout-wrap>
    <div flex="25" flex-md="100" flex-sm="100" class="gaspro-card animated slideInUp">
        <md-card>
            <img class="img-responsive animated fadeIn" src="../../../Img/products/gaspro.svg" alt="Alternate Text"/>
            <md-card-content>
                <h2 class="md-title">GasPro</h2>
                <p>
                    GasPro, our enterprise system, is perfect for large operations. It boasts full industry functionality right off the shelf, yet is fully customizeable to fit your needs. Taking an average of 4 months, our 100% Implementation Success Rate gets you running in full-force quickly.
                </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ui-sref="gaspro">Learn More</md-button>
            </div>
        </md-card>
    </div>
    <div flex="25" flex-md="100" flex-sm="100" class="gastrak-card animated slideInUp">
        <md-card>
            <img class="img-responsive animated fadeIn" src="../../../Img/products/gastrak.svg" alt="Alternate Text" />
            <md-card-content>
                <h2 class="md-title">GasTrak</h2>
                <p>
                    GasTrak is perfect for small and midsize operations. There is no up-front capital investment. You choose the features and connectivity YOU need and only pay a flat monthly subscription charge. Implementation can take as few as 2 weeks. Fast. Lean. Powerful.
                </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ui-sref="gastrak">Learn More</md-button>
            </div>
        </md-card>
    </div>
    <div flex="25" flex-md="100" flex-sm="100" class="energypro-card animated slideInUp">
        <md-card>
            <img class="img-responsive animated fadeIn" src="../../../Img/products/energypro.svg" alt="Alternate Text" />
            <md-card-content>
                <h2 class="md-title">EnergyPro</h2>
                <p>
                    EnergyPro is a 100% web-based, multi-commodity solution with revolutionary speed and browser integration. Like GasTrak, it also requires no capital investment and is based on monthly subscription. You can begin invoicing in a matter of hours, not weeks.
                    Coming Soon - 2017
                </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="center center">
                <md-button ng-click="vm.comingEnergypro($event)" class="md-raised md-primary">Learn More</md-button>
            </div>
        </md-card>
    </div>
    <div flex="25" flex-md="100" flex-sm="100" class="executiveView-card animated slideInUp">
        <md-card>
            <img class="img-responsive animated fadeIn" src="../../../Img/products/executiveview.svg" alt="Alternate Text" />
            <md-card-content>
                <h2 class="md-title">Executive View</h2>
                <p>
                    With Executive View, you gain a targeted and graphical insight into your operation's activity in GasPro, GasTrak and EnergyPro. Whether you're interested in overall performance or subtle details, our high-level and drilldown views show you it all.
                    Coming Soon - 2016

                </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="center center">
                <md-button ng-click="vm.comingExecView($event)" class="md-raised md-primary">Learn More</md-button>
            </div>
        </md-card>
    </div>
</section>

<section id="hosted-products" class="container" layout="row" layout-wrap>
    <h2 flex="100" class="text-center section-header">ALL of our products are:</h2>
    <div flex offset="33">
        <ul>
            <li class="fa fa-check"><span style="font-family: roboto;">Internet Hosted</span></li>
            <li class="fa fa-check"><span style="font-family: roboto;">100% Seamless</span></li>
            <li class="fa fa-check"><span style="font-family: roboto;">Reporting-Ready</span></li>
            <li class="fa fa-check"><span style="font-family: roboto;">GAAP Compliant</span></li>
            <li class="fa fa-check"><span style="font-family: roboto;">Easy to Implement</span></li>
        </ul>
    </div>
</section>

<div ng-include="'/app/components/contact/smallContactUs.html'"></div>

<script>
    //$(window).bind('scroll', function () {
    //    if ($(window).scrollTop() > 40) {
    //        $("#sub-navbar-overview").addClass("fix-the-navbar");
    //        $("#sub-navbar-overview1").addClass("show-fixed-nav");
    //    } else {
    //        $("#sub-navbar-overview").removeClass("fix-the-navbar");
    //        $("#sub-navbar-overview1").removeClass("show-fixed-nav");
    //    }
    //});
</script>
