<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row" ng-show="vm.showGasPro">
                <div ng-include="'/app/components/solutions/views/gaspro.html'"></div>
            </div>
            <div class="row" ng-show="vm.showGasTrak">
                <div ng-include="'/app/components/solutions/views/gastrak.html'"></div>
            </div>
            <div class="row" ng-show="vm.showEnergyPro">
                <div ng-include="'/app/components/solutions/views/energypro.html'"></div>
            </div>
        </div>
    </div>
</div>